@media (max-width: 767.98px) {
    .d-sm-none {
        display: none !important;
    }

    .d-sm-block {
        display: block !important;
    }

    html {
        font-size: 10px;
    }

    .container {
        padding: 0 2rem;
    }

    .btn {
        font-size: 2.2rem;
        line-height: 3.2rem;
        padding: 1.2rem 4rem;
    }

    .main-page__bg {
        background-position: 55.8% 0;
        background-size: 88.4rem auto;
    }

    .main__bg {
        height: auto;
        min-height: 66.7rem;
    }

    .main__wrapper {
        height: auto;
        min-height: 0;
        margin-bottom: 0;
    }

    .main__logo {
        top: 3.1rem;
    }

    .main__logo img {
        width: 15rem;
        height: auto;
        display: block;
    }

    .main__nav {
        bottom:  auto;
        top: 3.3rem;
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .main__nav-item {
        margin-right: 2rem;
    }

    .main__start-btn-wrapper:not(._timer) {
        display: none;
    }

    .main__content {
        text-align: left;
        position: relative;
        padding-top: 11.8rem;
        top: auto;
    }

    .main__title {
        font-size: 5.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.02em;
        max-width: 5em;
    }

    .main__title-t2 {
        font-size: 2.2rem;
        line-height: 3.2rem;
        margin-top: -.1rem;
        text-transform: none;
    }

    html.is-finish .main__content {
        top: auto;
        bottom: auto;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        min-height: 40rem;
    }

    html.is-finish .main__title {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 5rem;
    }

    html.is-finish .main__title-t2 {
        margin: .7rem 0 0;
    }

    .main__start {
        top: auto;
        bottom: auto;
        position: relative;
        margin-top: -7.6rem;
        margin-bottom: 3.7rem;
    }

    .main__start-image {
        position: relative;
        transform: translate(-34rem, 0);
    }

    .main__start-image img {
        width: 56.7rem;
        height: 28.1rem;
    }

    .main__start .main__timer {
        transform: translateY(0);
    }

    .main__start .main__timer-item {
        margin-right: 1.5rem;
    }

    .main__start .main__timer-title {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    .main__start .main__timer-value {
        font-size: 5rem;
    }

    .main__start .main__timer-label {
        font-size: 2.2rem;
    }

    .main__promo {
        position: static;
        width: auto;
        display: block;
        background: linear-gradient(116.15deg, rgba(255, 105, 0, 0.3) 9.86%, rgba(255, 105, 0, 0) 84.01%);
        text-align: center;
        padding: 4.6rem 0 5.8rem;
        margin-bottom: 6rem;
    }

    .main__promo-content {
        display: inline-block;
        vertical-align: top;
        padding-left: 5.8rem;
        min-width: 0;
        margin-bottom: 3rem;
        text-align: left;
    }

    .main__promo-question-mark {
        right: auto;
        margin-right: 0;
        left: 0;
    }

    .main__intro {
        margin-bottom: 6.2rem;
    }

    .main__intro-title {
        color: rgba(255, 255, 255, 0.5);
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin-bottom: 1.1rem;
    }

    .main__intro-play {
        width: 14rem;
        height: 14rem;
    }

    .main__content-btn-wrapper {
        display: none;
    }

    .main__mob-start {
        display: block;
        text-align: center;
        margin-bottom: 5rem;
    }

    .main__results {
        display: none;
    }

    .conditions {
        padding-bottom: 3.5rem;
    }

    .conditions__title {
        font-size: 3.5rem;
        line-height: 4.5rem;
        margin: 0 0 1rem;
        text-align: left;
    }

    .conditions__subtitle {
        margin: 0 -.5rem 0 0;
        text-align: left;
    }

    .conditions__subtitle p {
        margin: 0 0 1rem;
    }

    .conditions__content {
        margin: 0 0 5.9rem;
    }

    .prizes-slider {
        display: block;
    }

    .prizes-slider__item {
        padding-bottom: 0;
        margin-bottom: 2rem;
    }

    .prize {
        width: auto;
        height: auto;
        background: linear-gradient(119.06deg, rgba(255, 105, 0, 0.2) 36.85%, rgba(255, 105, 0, 0) 82.05%);
        padding: 1.6rem 0 1.5rem;
    }

    .prize__title {
        position: static;
        color: var(--orange);
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    .prize__title-num {
        font-size: 3rem;
    }

    .prize__image {
        position: static;
        opacity: 1;
    }

    .prize__image img {
        position: static;
        width: 23.2rem;
    }

    .prize__overlay {
        display: none;
    }

    .prize__content {
        position: static;
        font-size: 2.2rem;
        line-height: 3.2rem;
        opacity: 1;
        transform: none;
        text-transform: uppercase;
        margin-top: .1rem;
    }

    .prize__content-inner {
        display: block;
    }

    .prize__name {
        display: inline;
        font-size: inherit;
        line-height: inherit;
        vertical-align: baseline;
        padding: 0;
        background: none;
        border-radius: 0;
    }

    .prize__count {
        position: static;
        margin: 0;
        display: inline;
    }

    .conditions__text {
        text-align: left;
        margin-bottom: 5rem;
    }

    .conditions__text-item {
        display: inline;
    }

    .conditions__footer {
        text-align: left;
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .footer {
        padding: 2.5rem 0 3.1rem;
    }

    .footer__top-wrapper {
        display: block;
        margin-bottom: 0;
    }

    .footer__nav {
        display: block;
        font-size: 2.2rem;
        line-height: 3.2rem;
        margin-bottom: 3.7rem;
    }

    .footer__nav-item {
        margin-bottom: 3.2rem;
    }

    .footer__social {
        margin-bottom: 2.4rem;
    }

    .footer__social-btn {
        margin-left: 0;
        margin-right: 2.3rem;
        width: 4.7rem;
        height: 4.7rem;
    }

    .footer__phone {
        font-weight: 500;
        font-size: 2.2rem;
        margin-bottom: 2.5rem;
    }

    .footer__bottom-wrapper {
        border-top: none;
        padding-top: 0;
    }

    .footer__second-nav {
        display: block;
        font-size: 1.4rem;
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    .footer__second-nav-item {
        margin: 0 0 1.6rem;
    }

    .footer__logo img {
        width: 17.4rem;
    }

    .footer__copyright {
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .cookie-alert {
        display: block;
        text-align: center;
        max-width: none;
        left: 2rem;
        right: 2rem;
        bottom: 2rem;
        padding: 2rem 1.5rem;
    }

    .cookie-alert__content {
        margin-bottom: 2rem;
    }

    .loader__content {
        padding: 8.4rem 0 6.8rem;
    }

    .loader__icon {
        top: 4.4rem;
        right: 5.1rem;
    }

    .loader__icon-i {
        width: 3.4rem;
        height: 3.4rem;
        margin: -0.4rem 0 0 -0.4rem;
        transform-origin: 0.35rem 0.35rem;
    }

    .loader__icon-c {
        width: 6rem;
        height: 6rem;
        margin: -3rem 0 0 -3rem;
        border-width: .2rem;
    }

    .loader__title {
        font-size: 5.5rem;
        line-height: 6.5rem;
    }

    .loader__title-t2 {
        font-size: 2.2rem;
        line-height: 3.2rem;
        margin-top: .5rem;
    }

    .loader__loader {
        height: 0.4rem;
    }

    .loader__text {
        right: auto;
        left: 0;
        font-size: 1.6rem;
        line-height: 2.4rem;
        bottom: 1.9rem;
    }

    .loader__text span {
        right: auto;
        left: 0;
    }

    html.is-loading .main__logo {
        opacity: 1;
        visibility: visible;
    }

    .close-btn,
    .back-btn,
    .burger-btn {
        width: 6.8rem;
        height: 8rem;
    }

    .close-btn:before,
    .close-btn:after,
    .back-btn:before,
    .back-btn:after {
        width: 16.4rem;
        margin-left: -8.2rem;
    }

    .burger-btn:before {
        display: none;
    }

    .burger-btn__lines {
        width: 3.8rem;
        height: 2.8rem;
        margin: -1.4rem 0 0 -1.9rem;
    }

    .burger-btn__lines span {
        height: .4rem;
    }

    .burger-btn__lines span:nth-child(2) {
        top: 1.2rem;
    }

    .burger-btn__lines span:nth-child(3) {
        top: 2.4rem;
    }

    .burger-btn__text {
        margin-top: 1.7rem;
        font-size: 1.2rem;
        line-height: 1.9rem;
    }

    .form-control-wrapper {
        max-width: 28rem;
    }

    .form-control-bg:before {
        background-image: url('../images/input-mob.svg');
    }

    .form-control-bg:after {
        background-image: url('../images/input-mob-active.svg');
    }

    .form-check {
        margin-left: auto;
        margin-right: auto;
    }

    .login-window__inner {
        padding: 7rem 2rem;
    }

    .login__section_reg {
        max-width: 34rem;
    }

    .menu-window__inner {
        padding: 2rem;
    }

    .burger-btn,
    .menu-window__back {
        left: 0;
        right: auto;
        top: 0.7rem;
    }

    .menu-window__back {
        transform: rotate(0);
    }

    .menu-window__logout,
    .page__logout {
        right: 2rem;
        left: auto;
        top: 3.4rem;
    }

    .menu-window__nav {
        font-size: 4.5rem;
        line-height: 5rem;
    }

    .menu-window__nav-item {
        margin: 4.5rem 0;
    }

    .menu-window__order-btn {
        width: 10.1rem;
        height: 10.1rem;
        font-size: 1.4rem;
        line-height: 2rem;
    }

    .menu-window__user {
        width: 23rem;
    }

    .user {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .user__data-item {
        margin-bottom: 1rem;
    }

    .user__data-item_promocode {
        margin-bottom: 0;
    }

    .user__data-question-mark {
        margin-top: 2.1rem;
    }

    .logout-btn {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .menu-window__wrapper {
        padding: 6rem 0 22rem;
    }

    .page__inner {
        padding-top: 11.9rem;
    }

    .page__title {
        font-size: 2.6rem;
        letter-spacing: 0;
        margin-bottom: 1rem;
    }

    .page__title._lg {
        font-size: 4.5rem;
        line-height: 1.11;
    }

    .rating-user-btn-wrapper {
        bottom: 2rem;
    }

    .rating-user-btn {
        padding-left: 3.4rem;
        padding-right: 3.4rem;
        text-transform: none;
    }

    .rating-table-wrapper {
        margin-bottom: 10rem;
    }

    .rating-table-pagination {
        margin-top: 2rem;
        position: static;
    }

    .pagination {
        justify-content: center;
        font-size: 1.6rem;
    }

    .pagination__item {
        margin: 0.1rem;
        min-width: 2.8rem;
        height: 2.8rem;
    }

    .rating-table {
        margin-left: -2rem;
        margin-right: -2rem;
    }

    .rating-table__header {
        border-top: none;
        border-bottom: none;
        background: var(--orange);
    }

    .rating-table__body {
        border-bottom: none;
    }

    .rating-table__body .rating-table__row {
        border-bottom: 1px solid rgba(255,255,255,.25);
    }

    .rating-table__cell {
        border-left: none;
        font-size: 1.8rem;
        line-height: 2.8rem;
        padding-top: 1.7rem;
        padding-bottom: 1.6rem;
    }

    .rating-table__cell_level {
        padding-top: 1.8rem;
    }

    .rating-table__header .rating-table__cell {
        font-size: 1.6rem;
        line-height: 2.4rem;
        padding-top: 1.9rem;
        padding-bottom: 1.9rem;
        overflow: visible;
    }

    .rating-table__levels-group {
        border: none;
    }

    .rating-table__cell_place {
        flex: 0 0 9rem;
        max-width: 9rem;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .rating-table__cell_points {
        flex: 0 0 14.5rem;
        max-width: 14.5rem;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .rating-table__cell_name {
        text-align: left !important;
        padding-left: 2rem !important;
    }

    .popup {
        width: 32.5rem;
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    .popup-window__content {
        padding: 2.5rem;
    }

    .popup-window._closable .popup-window__content {
        padding-top: 6rem;
    }

    .popup__close-btn {
        right: 0;
        left: 0;
        width: auto;
        height: 11.4rem;
        top: -9.2rem;
    }

    .popup__close-btn:before,
    .popup__close-btn:after {
        width: 24.5rem;
        margin-left: -12.3rem;
    }

    .popup__content {
        min-height: 39.6rem;
        padding: 4.1rem 1.5rem;
    }

    .popup__title {
        margin-bottom: 2rem;
    }

    .popup__icon {
        margin-bottom: 1.1rem;
    }

    .popup__text {
        margin-bottom: 3rem;
    }

    .popup__text:last-child {
        margin-bottom: 0;
    }

    .popup__dec > span:nth-child(3) span:nth-child(6) {
        width: 15.3rem;
    }

    .popup__dec > span:nth-child(1) {
        margin: 10rem -2.5rem;
    }

    .popup__promo-copy {
        font-size: 1.6rem;
        line-height: 2.2rem;
        padding: 1.6rem 2rem;
    }

    .friend-request-text {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin: 2rem auto 0;
    }

    .popup__footer {
        display: block;
        margin: 3rem 0 0;
        font-size: 1.6rem;
        line-height: 2.6rem;
    }

    .popup__footer-item {
        margin-top: .5rem;
    }

    .popup__link:before {
        width: 34rem;
        height: 5rem;
    }

    .popup__link:after {
        width: 20rem;
        height: 3rem;
    }

    .game-interface__top {
        top: 4rem;
        height: 1.9rem;
        background-image: url(../images/interface-top-mob.svg);
    }

    .game-interface__bottom {
        bottom: 2.4rem;
        left: 0;
        right: 0;
        transform: translateX(0);
        width: auto;
        height: 6.4rem;
        max-height: none;
        background-image: url(../images/interface-bottom-mob.svg);
    }

    .game-score {
        margin-left: -8.5rem;
        top: 0;
        width: 16.9rem;
        height: 12.2rem;
        background-image: url(../images/game-score-mob.svg);
    }

    .game-score__title,
    .game-score__username {
        display: none;
    }

    .game-score__points {
        left: 0;
        width: 100%;
        margin-top: -1.4rem;
        font-size: 3rem;
    }

    .game-burger {
        top: 5.4rem;
    }

    .game-timer {
        font-size: 2.2rem;
        line-height: 3.2rem;
        left: auto;
        right: 2rem;
        top: 7.9rem;
    }

    .mission__start {
        padding: 14rem 2rem 10.9rem;
        align-items: flex-start;
    }

    .mission__start-content {
        min-height: 0;
        margin: 0;
    }

    .mission__num {
        font-size: 2.2rem;
        line-height: 3.2rem;
        margin-bottom: 1.5rem;
    }

    .mission__title-bg {
        width: 66.6rem;
        height: 7.1rem;
        margin: -3.5rem 0 0 -33.3rem;
    }

    .mission__title-bg > span > span:before {
        margin: -3.5rem 0 0 -26.9rem;
        width: 53.8rem;
        height: 7rem;
    }

    .mission__title-bg:before {
        left: 10rem;
        width: 6rem;
    }

    .mission__title-bg:after {
        left: -2rem;
        width: 20.4rem;
    }

    .mission__title-bg > span:before {
        display: none;
    }

    .mission__title-bg > span:after {
        width: 11.4rem;
    }

    .mission__title {
        font-size: 5.2rem;
        line-height: 6.2rem;
        margin-bottom: 1.5rem !important;
    }

    .mission__text {
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin-bottom: 3rem;
    }

    .mission-1__start-coffee {
        margin-top: 4.6rem;
    }

    .mission-1__start-coffee img {
        width: 21.2rem !important;
        height: auto !important;
    }

    .mission__play-btn {
        margin-top: 9.8rem;
    }

    .mission__input-wrapper._form .mission__input-control {
        padding: .6rem 0;
    }

    .mission__input-wrapper._form .mission__input-control-wrapper {
        margin-bottom: 4rem;
    }

    .mission__final-steps {
        margin: 4.1rem auto 6rem;
        max-width: 14em;
    }

    .mission__final-steps-item {
        margin: 0 auto 2rem;
        padding-top: 2rem;
    }

    .mission__input-wrapper._promo {
        margin: 0;
    }

    .mission__input-wrapper._promo .mission__input {
        display: inline-block;
        background: none;
        border: none;
        border-radius: 0;
        padding: 0;
    }

    .mission__input-wrapper._promo .mission__input-control-wrapper {
        min-width: 0;
        padding: 1.4rem 0;
        margin-bottom: 3rem;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 4rem;
        position: relative;
        z-index: 2;
    }

    .mission-5__form-wrapper {
        margin-top: 8rem;
    }

    .game-map__header {
        top: 13.9rem;
        margin: 0 2rem;
    }

    .game-map__title {
        font-weight: 500;
        font-size: 3.5rem;
        line-height: 4.5rem;
    }

    .game-map__subtitle {
        display: none;
    }

    .game-map__markers {
        margin: 27.8rem 2rem 22.5vh;
    }

    .game-map__marker_dodo {
        left: 10.2%;
    }

    .game-map__marker_location-1 {
        right: 9.3%;
        top: 51.5%;
    }

    .game-map__marker_location-2 {
        left: 16.5%;
        top: 100%;
    }

    .game-map__marker-icon {
        transform: scale(0.46) !important;
    }

    .game-map__marker-title {
        font-size: 1.6rem;
        line-height: 2.7rem;
        left: 3.3rem;
        top: -2.1rem;
    }

    .game-map__marker_location-1 .game-map__marker-title {
        right: 1.6rem;
        top: -1.2rem;
    }

    .game-map__marker_location-2 .game-map__marker-title {
        left: 1.6rem;
        top: -0.3rem;
    }

    .game-map__marker-title > span {
        padding: 0 1.6rem;
    }

    .game-location__markers {
        margin: 18rem 4rem 17rem;
    }

    .game-location__bg {
        background-position: 18% center;
    }

    .game-location__scale {
        bottom: 6.9rem;
        margin: 0 auto;
        max-width: 20rem;
        flex-wrap: wrap;
    }

    .game-location__scale-item {
        width: 1.8rem;
        height: 2.3rem;
        margin: 0.8rem .1rem 0;
    }

    .game-help__content {
        font-size: 1.8rem;
        line-height: 2.8rem;
        width: auto !important;
        left: 2rem !important;
        right: 2rem !important;
    }

    .game-help_score .game-help__content {
        top: 12.1rem;
    }

    .game-help_timer .game-help__content {
        top: 12.1rem;
    }

    .game-lives {
        left: 50%;
        top: 32.1rem;
        margin-left: 6rem;
    }

    .game-help_lives .game-help__content {
        top: 15.6rem;
    }

    .game-test__content {
        padding: 13.1rem 2rem 11.3rem;
    }

    .game-test__item-image {
        width: 23.3rem;
        height: 24rem;
        position: relative;
        margin: 0 auto;
        padding: 1rem 0.9rem 0 0.5rem;
        left: -1.9rem;
    }

    .game-test__item-header {
        min-height: 0;
        padding: 0;
    }

    .game-test__item-num {
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin-bottom: 0.5rem;
    }

    .game-test__item-question {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    .game-test__item-answers {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .game-test__item-answer-inner {
        padding: 1.2rem 1.9rem;
        min-height: 7.3rem;
    }

    .mission-3 .mission__start {
        padding: 14rem 2rem 10.9rem;
    }

    .mission-3 .mission__start-content {
        min-height: 0;
    }

    .mission-3__win {
        padding-bottom: 14.3rem;
    }

    .mission-3__win .mission__title {
        font-size: 4.6rem;
        line-height: 5.5rem;
    }

    .mission-3__popup-wrapper {
        padding-top: 3rem;
        height: 25rem;
    }

    .mission-3__popup-wrapper .popup {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .mission-3__popup-wrapper .popup__content {
        min-height: 0;
        padding: 2rem 0 5rem;
    }

    .mission-4 .game-lives {
        left: auto;
        right: 1rem;
        top: 7.5rem;
    }

    .game-help_speed .game-help__content {
        bottom: 37.5rem;
    }

    .game-speed__circle {
        bottom: -6.3rem;
        margin-left: -19.5rem;
        width: 39rem;
        height: 39rem;
    }

    .game-speed__circle-light {
        display: none;
    }

    .game-speed__circle-line-wrapper {
        margin: 6.9rem;
        transform: translateX(-0.2rem) translateY(-0.1rem);
    }

    .game-speed__circle-140 {
        width: 21.6rem;
        height: 5.5rem;
        margin: -4.4rem 0 0 3.9rem;
    }

    .game-speed__circle-btn {
        width: 15rem;
        height: 15rem;
        margin: -7.5rem;
    }

    .game-speed__circle-btn:before,
    .game-speed__circle-btn:after {
        margin: -19.5rem;
        width: 39rem;
        height: 39rem;
    }

    .text {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .text li {
        margin: 0.5em 0;
    }

    .text ol ol {
        padding-left: 1em;
    }

    .b-404__inner {
        padding: 11.4rem 0 4rem;
        margin: auto;
        max-width: 335px;
    }

    .b-404__header-title {
        margin: 0 0 1.7rem;
    }

    .b-404__header-title img {
        width: 14rem !important;
        height: auto !important;
    }

    .b-404__title {
        font-size: 5.5rem;
        line-height: 6.5rem;
        margin-bottom: 2rem;
    }

    .b-404__text {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    .b-404__btn-wrapper {
        margin-top: 6.6rem;
    }
}