:root {
    --orange: #FF6900;
    --orange-40: rgba(255, 105, 0, 0.4);
    --orange-55: rgba(255, 105, 0, 0.55);
    --orange-90: rgba(255, 105, 0, 0.90);

    --blue: #05B4EC;
    --blue-40: rgba(5, 180, 236, 0.4);
    --blue-55: rgba(5, 180, 236, 0.55);
    --blue-90: rgba(5, 180, 236, 0.90);
}

@font-face {
    font-family: 'Dodo Rounded';
    src: url('../fonts/DodoRounded-Regular.woff2') format('woff2'),
    url('../fonts/DodoRounded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dodo Rounded';
    src: url('../fonts/DodoRounded-Medium.woff2') format('woff2'),
    url('../fonts/DodoRounded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Dodo Rounded';
    src: url('../fonts/DodoRounded-Bold.woff2') format('woff2'),
    url('../fonts/DodoRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.svg-sprite {
    position: absolute;
    left: -9999px;
    top: -9999px;
    height: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    flex-shrink: 0;
}

.d-none {
    display: none !important;
}

html {
    font-size: 10px;
    font-size: calc(100vw * 10 / 1920);
    overflow-y: scroll;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (min-width: 1920px) {
    html {
        font-size: 10px;
    }
}

html.is-loading body,
html.is-noscroll body {
    position: fixed !important;
    width: 100%;
    overflow-y: auto;
}

@media (min-width: 1024px) {
    .scrollbar {
        scrollbar-color: #707070 #333333;
        scrollbar-width: thin;
    }

    .scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .scrollbar::-webkit-scrollbar-track {
        background: #333333;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #707070;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #999999;
    }
    
    * {
        cursor: url('../images/cursor-sm.svg') 8 8, none !important;
    }

    a,
    a *,
    button,
    button *,
    .game-test__item-answer,
    .game-test__item-answer * {
        cursor: url('../images/cursor-sm-active.svg') 8 8, none !important;
    }
}

html,
body {
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Dodo Rounded', Arial, sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.8rem;
    background: #000;
    color: #fff;
    min-width: 320px;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    margin: 0;
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
    color: inherit;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

:hover,
:active,
:focus {
    outline: none;
}

img {
    vertical-align: middle;
    border-style: none;
}

a {
    background-color: transparent;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    margin: 0 0 1rem;
}

.form-check {
    text-align: left;
    font-size: 1.4rem;
    line-height: 2.2rem;
    margin: 4rem 2.3rem 4.7rem;
}

.form-check a {
    color: inherit;
}

.form-check a:hover {
    color: var(--orange);
}

.form-check__label {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.form-check__input {
    position: absolute;
    opacity: 0;
}

.form-check__text {
    display: block;
    position: relative;
    padding: 0 0 0 3rem;
}

.form-check__text:before,
.form-check__text:after {
    content: '';
    position: absolute;
    top: .1rem;
    left: 0;
    width: 2rem;
    height: 2rem;
}

.form-check__text:before {
    border-radius: .3rem;
    background: #EAE9EF;
}

.form-check__input[type=radio] + .form-check__text:before {
    border-radius: 50%;
}

.form-check__text:after {
    background: url('../images/checkbox.svg') 0 0 no-repeat;
    background-size: 100% 100%;
    opacity: 0;
}

.form-check__input:checked ~ .form-check__text:after {
    opacity: 1;
}

.form-check__input.error ~ .form-check__text:before {
    background: red;
}

.form-btn-group {
    text-align: center;
}

.form-control-wrapper {
    position: relative;
    max-width: 52rem;
    margin: 0 auto 2rem;
}

.form-control {
    display: block;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    background: none;
    width: 100%;
    height: 7.2rem;
    padding: 2.2rem 2.4rem;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.8rem;
    border-radius: 1.4rem;
    color: #fff;
    position: relative;
    z-index: 1;
}

.form-control::placeholder {
    color: #FF9144;
}

.form-control:focus::placeholder {
    color: transparent;
}

.form-control.error {
    background: radial-gradient(rgba(255, 0, 0, 1), rgba(255, 0, 0, 0) 80%);
}

.form-control-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: -2.5rem -1.2rem -2.3rem;
    pointer-events: none;
}

.form-control-bg:before,
.form-control-bg:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: 0.15s ease-in-out;
}

.form-control-bg:before {
    background-image: url('../images/input.svg');
}

.form-control-bg:after {
    background-image: url('../images/input-active.svg');
}

.form-control-bg:before,
.form-control:focus ~ .form-control-bg:after {
    opacity: 1;
    visibility: visible;
}

.form-control-bg:after,
.form-control:focus ~ .form-control-bg:before {
    opacity: 0;
    visibility: hidden;
}

label.error {
    display: none !important;
}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    background: var(--orange);
    color: #fff;
    border-radius: 4rem;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 3rem;
    padding: 2rem 6rem;
    backface-visibility: hidden;
    will-change: background-color, color, text-shadow;
    transition: 0.15s ease-in-out;
    transition-property: background-color, color, text-shadow;
}

.btn:hover,
.btn:active {
    background-color: var(--orange-40);
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 1rem rgba(255, 150, 77, 0.5), 0 0 2rem rgba(255, 141, 61, 0.7), 0 0 4rem #FF6900;
}

.btn:active {
    background-color: var(--orange-55);
}

.btn:before,
.btn:after,
.btn > span:before,
.btn > span:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 4rem;
    backface-visibility: hidden;
    will-change: opacity, visibility;
    opacity: 0;
    transition: 0.15s ease-in-out;
    transition-property: opacity, visibility;
}

.btn:hover:before,
.btn:hover:after,
.btn:hover > span:before,
.btn:hover > span:after,
.btn:active:before,
.btn:active:after,
.btn:active > span:before,
.btn:active > span:after {
    opacity: 1;
}

.btn:before {
    margin: -.2rem;
    border: .4rem solid #FF6900;
    filter: drop-shadow(0 0 1rem rgba(255, 150, 77, 0.5)) drop-shadow(0 0 2rem rgba(255, 141, 61, 0.7)) drop-shadow(0 0 4rem #FF6900);
    z-index: 1;
}

.btn:after {
    margin: -.15rem;
    border: .3rem solid #FF9042;
    filter: drop-shadow(0 0 1rem rgba(255, 150, 77, 0.5)) drop-shadow(0 0 2rem rgba(255, 141, 61, 0.7)) drop-shadow(0 0 4rem #FF6900);
    z-index: 2;
}

.btn > span:before {
    margin: -.1rem;
    border: .2rem solid #FFA96D;
    filter: drop-shadow(0 0 1rem rgba(255, 150, 77, 0.5)) drop-shadow(0 0 2rem rgba(255, 141, 61, 0.7)) drop-shadow(0 0 4rem #FF6900);
    z-index: 3;
}

.btn > span:after {
    margin: -.05rem;
    border: .1rem solid #FFD5B7;
    filter: drop-shadow(0 0 1rem rgba(255, 150, 77, 0.5)) drop-shadow(0 0 2rem rgba(255, 141, 61, 0.7)) drop-shadow(0 0 4rem #FF6900);
    z-index: 4;
}

.btn > span > span {
    position: relative;
    z-index: 5;
}

.btn_blue {
    background: var(--blue);
}

.btn_blue:hover,
.btn_blue:active {
    background-color: var(--blue-40);
    color: #fff;
    text-shadow: 0 0 1rem rgba(5, 180, 236, 0.5), 0 0 2rem rgba(5, 180, 236, 0.7), 0 0 4rem #05B4EC;
}

.btn_blue:active {
    background-color: var(--blue-55);
}

.btn_blue:before {
    border-color: #05B4EC;
    filter: drop-shadow(0 0 1rem rgba(5, 180, 236, 0.5)) drop-shadow(0 0 2rem rgba(5, 180, 236, 0.7)) drop-shadow(0 0 4rem #05B4EC);
}

.btn_blue:after {
    border-color: #55D6FF;
    filter: drop-shadow(0 0 1rem rgba(5, 180, 236, 0.5)) drop-shadow(0 0 2rem rgba(5, 180, 236, 0.7)) drop-shadow(0 0 4rem #05B4EC);
}

.btn_blue > span:before {
    border-color: #99ECFF;
    filter: drop-shadow(0 0 1rem rgba(5, 180, 236, 0.5)) drop-shadow(0 0 2rem rgba(5, 180, 236, 0.7)) drop-shadow(0 0 4rem #05B4EC);
}

.btn_blue > span:after {
    border-color: #fff;
    filter: none;
}

.btn_static:before,
.btn_static:after,
.btn_static > span:before,
.btn_static > span:after {
    display: none;
}

.btn_static:hover,
.btn_static:active {
    background-color: var(--orange-90);
    color: #fff;
    text-shadow: none;
}

.btn_static:active {
    background-color: var(--orange-55);
}

.btn_blue.btn_static:hover,
.btn_blue.btn_static:active {
    background-color: var(--blue-90);
    color: #fff;
    text-shadow: none;
}

.btn_blue.btn_static:active {
    background-color: var(--blue-55);
}

.btn[disabled],
.btn.is-disabled {
    opacity: .5;
    cursor: default;
    cursor: not-allowed;
}

.slick-arrow {
    border: none;
    padding: 0;
    background: transparent;
    background: none;
    position: absolute;
    text-indent: -9999px;
    z-index: 11;
    top: 50%;
    width: 15.2rem;
    height: 15.2rem;
    margin-top: -10.1rem;
}

.slick-prev {
    left: -20.5rem;
}

.slick-next {
    right: -20.5rem;
}

.slick-arrow:before,
.slick-arrow:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.15s ease-in-out;
}

.slick-prev:before,
.slick-prev:after {
    transform: rotate(180deg);
}

.slick-arrow:before {
    background-image: url('../images/arrow.svg');
}

.slick-arrow:after {
    background-image: url('../images/arrow-hover.svg');
}

.slick-arrow:after,
.slick-arrow:hover:before {
    opacity: 0;
}

.slick-arrow:hover:after {
    opacity: 1;
}

.slick-arrow.slick-disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}

.slick-slide > div > * {
    max-width: none;
    vertical-align: top;
}

.close-btn,
.back-btn,
.burger-btn {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border: none;
    background: none;
    padding: 0;
    width: 24.5rem;
    height: 11.4rem;
    z-index: 1;
}

.close-btn:before,
.close-btn:after,
.back-btn:before,
.back-btn:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    left: 50%;
    width: 24.5rem;
    margin-left: -12.3rem;
    transition: 0.15s ease-in-out;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.close-btn:before,
.close-btn:hover:after,
.back-btn:before,
.back-btn:hover:after {
    opacity: 1;
    visibility: visible;
}

.close-btn:after,
.close-btn:hover:before,
.back-btn:after,
.back-btn:hover:before {
    opacity: 0;
    visibility: hidden;
}

.close-btn:before {
    background-image: url('../images/close-btn.svg');
}

.close-btn:after {
    background-image: url('../images/close-btn-hover.svg');
}

.back-btn:before {
    background-image: url('../images/back-btn.svg');
}

.back-btn:after {
    background-image: url('../images/back-btn-hover.svg');
}

.burger-btn:before {
    content: '';
    position: absolute;
    width: 18.5rem;
    height: 3.5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(270deg, rgba(5, 180, 236, 0) 0%, #05B4EC 50.96%, rgba(5, 180, 236, 0) 100%);
    filter: blur(30px);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.burger-btn:hover:before {
    opacity: 1;
}

.burger-btn__lines {
    position: absolute;
    width: 5rem;
    height: 3.5rem;
    left: 50%;
    top: 50%;
    margin: -1.8rem 0 0 -2.6rem;
}

.burger-btn__lines span {
    position: absolute;
    left: 0;
    width: 100%;
    height: .5rem;
    background: #fff;
    transition: 0.25s ease-in-out;
    transition-property: box-shadow, transform;
}

.burger-btn:hover .burger-btn__lines span {
    box-shadow: 0px 0px 10px rgba(5, 180, 236, 0.5), 0px 0px 20px rgba(5, 180, 236, 0.7), 0px 0px 40px #05B4EC;
}

.burger-btn__lines span:nth-child(1) {
    top: 0;
    transform: translateX(1rem);
}

.burger-btn:hover .burger-btn__lines span:nth-child(1) {
    transform: translateX(0);
}

.burger-btn__lines span:nth-child(2) {
    top: 1.5rem;
}

.burger-btn__lines span:nth-child(3) {
    top: 3rem;
}

.burger-btn__text {
    position: absolute;
    top: 50%;
    margin-top: 2.2rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    left: 0;
    right: 0;
    opacity: 0;
}

.question-mark-btn {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border: none;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    background: rgba(255, 255, 255, 0.25) url('../images/question-mark.svg') 0 0 no-repeat;
    background-size: 100% 100%;
    transition: background-color 0.15s ease-in-out;
}

.question-mark-btn:hover {
    background-color: var(--orange);
}

.c-highlight {
    color: var(--orange);
}

.container {
    padding: 0 8rem;
}

.container_page {
    max-width: 170.6rem;
    margin-left: auto;
    margin-right: auto;
}

.loader {
    position: fixed;
    z-index: 1001;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.loader__main {
    flex-grow: 1;
    min-height: 1px;
    padding-bottom: .4rem;
    position: relative;
}

.loader__inner {

}

.loader__content {
    display: none;
}

.loader__title {

}

.loader__title-t1 {

}

.loader__title-t2 {

}

.loader__text {

}

.loader__image {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0.4rem;
    background: #000;
    width: 54.1%;
}

.loader__image img {
    display: block;
    width: 100%;
    height: 100%;
    
    object-fit: contain;
    object-position: right bottom;

    object-fit: cover;
    object-position: center bottom;
}

.loader__loader {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: .4rem;
    background: rgba(255, 255, 255, 0.25);
}

.loader__loader > span {
    position: absolute;
    left: 0;
    height: 100%;
    width: 0;
    background: var(--orange);
    animation: loader-progress 3s linear forwards;
    animation-delay: 1000s;
}

@keyframes loader-progress {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.loader__icon {
    position: absolute;
    right: 12.2rem;
    bottom: 8.8rem;
}

.loader__icon-c {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10rem;
    height: 10rem;
    margin: -5rem 0 0 -5rem;
    border: .4rem solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
    transform: scale(0);
    animation: loader-pulse 3s linear infinite;
}

.loader__icon-c:nth-child(2) {
    animation-delay: 1.1s;
}

.loader__icon-c:nth-child(3) {
    animation-delay: 1.8s;
}

.loader__icon-i {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 6.2rem;
    height: 6.2rem;
    margin: -.9rem 0 0 -.9rem;
    background: url('../images/cursor.svg') 0 0 no-repeat;
    background-size: 100% 100%;
    animation: loader-rotate 1.5s linear infinite;
    transform-origin: 1rem 1rem;
}

@keyframes loader-pulse {
    0% {
        transform: scale(0);
    }

    75% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes loader-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader__footer {
    flex-shrink: 0;
}

.loader__steps {
    display: flex;
    align-items: center;
    height: 16.4rem;
    padding-bottom: 0.7%;
}

.loader__steps-item {
    margin-right: 16.5rem;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: 1s ease-in-out;
    transition-property: transform, opacity, visibility;
}

.loader__steps-item:last-child {
    margin-right: 0;
}

.loader__steps-item.is-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.loader__steps-num {
    display: block;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 5rem;
    color: rgba(255, 255, 255, 0.25);
    margin-bottom: 1rem;
}

.loader__steps-title {
    display: block;
    font-size: 2.2rem;
    line-height: 3.2rem;
}

.loader,
.loader__image,
.loader__footer,
.loader__loader,
._loading-fade,
.main-page__bg {
    transition: 1s ease-in-out;
}

.loader {
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
}

html.is-loading .loader {
    opacity: 1;
    visibility: visible;
}

.loader__image {
    transform: translateY(-100%);
    transition-property: transform;
}

.loader__footer,
.loader__loader {
    transform: translateY(16.4rem);
    transition-property: transform;
}

html.is-loading .loader__image,
html.is-loading .loader__footer,
html.is-loading .loader__loader {
    transform: translateY(0);
}

.main-page__bg {
    opacity: 1;
    transition-property: opacity;
}

html.is-loading .main-page__bg {
    opacity: .2;
}

._loading-fade {
    opacity: 1;
    visibility: visible;
    transition-property: opacity, visibility;
}

html.is-loading ._loading-fade {
    opacity: 0;
    visibility: hidden;
}

@media (min-width: 1024px) {
    html.is-loading.is-finish:not(.is-finish-loading) .loader__image {
        transform: translateY(-100%);
    }

    html.is-loading.is-finish:not(.is-finish-loading) .loader__footer,
    html.is-loading.is-finish:not(.is-finish-loading) .loader__loader {
        transform: translateY(16.4rem);
    }

    html.is-loading.is-finish:not(.is-finish-loading) .main__title-t2 {
        transform: translateY(-50%);
    }
    
    html.is-loading.is-finish:not(.is-finish-loading) .main__logo,
    html.is-loading.is-finish:not(.is-finish-loading) .main__title-t1,
    html.is-loading.is-finish:not(.is-finish-loading) .main__title-t2,
    html.is-loading.is-finish:not(.is-finish-loading) .loader__icon {
        opacity: 0;
    }

    html.is-loading.is-finish-loading .main__title-t1 {
        transition: opacity 2s ease-in-out;
    }

    html.is-loading.is-finish-loading .main__logo,
    html.is-loading.is-finish-loading .main__title-t2,
    html.is-loading.is-finish-loading .loader__image,
    html.is-loading.is-finish-loading .loader__footer,
    html.is-loading.is-finish-loading .loader__loader,
    html.is-loading.is-finish-loading .loader__icon {
        transition: 1.5s ease-in-out;
        transition-property: transform, opacity;
        transition-delay: 1.5s;
    }

    html.is-loading.is-finish-loading .loader__icon {
        transition-duration: .35s;
        transition-delay: 3s;
    }

    html.is-loading.is-finish-loading .main__logo {
        transition-delay: 6s;
    }
}

.cookie-alert {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
    max-width: 110rem;
    margin: 0 auto 3.8rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 3rem;
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    line-height: 3.2rem;
    color: #2B2B2B;
    padding: 2.5rem 6rem 2.6rem;
    backface-visibility: hidden;
    transform: translateY(2rem);
    opacity: 0;
    visibility: hidden;
    transition: .25s ease-in-out;
    transition-property: opacity, visibility, transform;
}

html.is-cookie-alert-open .cookie-alert {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: .75s ease-in-out;
}

.cookie-alert__content {
    flex-grow: 1;
    min-width: 1px;
}

.cookie-alert__footer {

}

.cookie-alert__btn {

}

.promo-copy {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    position: relative;
    white-space: nowrap;
}

.promo-copy__text {
    display: inline;
}

.promo-copy:after {
    content: '';
    display: inline-block;
    position: relative;
    top: .2rem;
    margin-left: 1.2rem;
    width: 1.7rem;
    height: 1.8rem;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 18' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.3999 13.75V16C4.3999 17.1046 5.29533 18 6.3999 18H14.2999C15.4045 18 16.2999 17.1046 16.2999 16V7.25C16.2999 6.14543 15.4045 5.25 14.2999 5.25H12.9V11.75C12.9 12.8546 12.0046 13.75 10.9 13.75H4.3999Z'/%3E%3Crect width='11.9' height='12.75' rx='2'/%3E%3C/svg%3E");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: .4;
    transition: opacity 0.15s ease-in-out;
}

.promo-copy:hover:after {
    opacity: 1;
}

.promo-copy__tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(-1rem);
    background: var(--orange);
    white-space: nowrap;
    padding: 1rem 2rem;
    border-radius: 5rem;
    margin-top: 1.5rem;
    z-index: 100;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease-in-out;
    transition-property: transform, opacity, visibility;
}

.promo-copy.is-copied .promo-copy__tooltip {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

.promo-copy__tooltip:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 0 .8rem 1rem;
    border-color: var(--orange) transparent;
}

.popup_theme_blue .promo-copy__tooltip {
    background: var(--blue);
}

.popup_theme_blue .promo-copy__tooltip:before {
    border-color: var(--blue) transparent;
}

.main-page {
    position: relative;
    z-index: 1;
    background-color: #000;
    overflow: hidden;
}

.main-page__bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.main {
    position: relative;
    z-index: 1;
}

.main__bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__inner {
    position: relative;
    z-index: 1;
}

.main__wrapper {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.main__logo,
.main__results,
.main__copyright {
    top: 5rem;
    top: min(5rem, 5vh);
}

.cookie-alert,
.main__nav,
.main__scroll,
.main__timer,
.main__promo,
.main__intro {
    bottom: 9.5rem;
    bottom: min(9.5rem, 9.5vh);
}

.main__logo {
    position: absolute;
    left: 0;
}

.main__logo img {
    opacity: .6;
    width: 20.8rem;
    height: 3.2rem;
}

.main__nav {
    position: absolute;
    left: 0;
    margin: 0;
    padding: 0;
    margin-bottom: -.8rem;
    list-style: none;
}

html.is-finish .main__nav {
    display: none;
}

.main__nav-item {
    display: inline;
    margin-right: 4.4rem;
}

.main__nav-item:last-child {
    margin-right: 0;
}

.main__nav-link {
    color: inherit;
    text-decoration: none;
    opacity: .5;
}

.main__nav-link:hover {
    opacity: .7;
}

.main__content {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    display: flex;
    align-items: center;
    z-index: 1;
    padding-bottom: 6.8rem;
    pointer-events: none;
    color: var(--orange);
}

.main__content._last {
    padding-bottom: 0;
}

.main__title {
    margin: 0;
    font-family: inherit;
    font-weight: 700;
    font-size: 13rem;
    line-height: 1;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    min-height: 47.3rem;
}

.main__title-t1 {
    display: block;
}

.main__title-t2 {
    display: block;
    font-weight: 500;
    font-size: 5rem;
    line-height: 6.4rem;
    margin-top: 1.9rem;
    letter-spacing: 0;
}

.main__content-btn-wrapper {
    display: block;
    pointer-events: auto;
}

.main__start {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 58.4rem;
    height: 49.4rem;
    margin: -24.7rem 0 0 -29.2rem;
}

.main__start-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: .65s ease-in-out;
    transition-property: opacity, visibility;
}

.main__start-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-60.6rem, -28.5rem);
    pointer-events: none;
}

.main__start-image img {
    width: 108.3rem;
    height: 53.7rem;
    transition: transform .65s ease-in-out;
}

.main__start-btn-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: 20.8rem;
    text-align: center;
    backface-visibility: hidden;
    transform: translateY(-2rem);
    opacity: 0;
    visibility: hidden;
    transition: .65s ease-in-out;
    transition-property: opacity, visibility, transform;
}

.main__start-btn {

}

@media (min-width: 1024px) {
    .main__start:hover .main__start-overlay {
        opacity: .65;
        visibility: visible;
    }

    .main__start:hover .main__start-image img {
        transform: translateY(-5.7%);
    }

    .main__start:hover .main__start-btn-wrapper {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

.main__timer {
    position: absolute;
    left: 0;
    margin-bottom: -.6rem;
    text-transform: uppercase;
}

.main__timer-title {
    font-weight: bold;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.25);
    transition: color 0.15s ease-in-out;
}

.main__timer:hover .main__timer-title {
    color: #fff;
}

.main__timer-content {
    display: flex;
    line-height: 1;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.25);
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
    transition: 0.15s ease-in-out;
    transition-property: color, text-shadow;
}

.main__timer:hover .main__timer-content {
    color: #FF6900;
    text-shadow: 0 0 .1rem #fff, 0 0 .1rem #fff, 0 0 .2rem #fff, 0 0 .2rem #ff6900, 0 0 1.5rem rgba(0, 0, 0, .6), 0 0 1rem rgba(255, 105, 0, .6), 0 0 1rem rgba(255, 105, 0, .8), 0 0 3.5rem #ff6900, 0 0 2rem rgba(255, 144, 66, .2);
}

.main__timer-item {
    margin-right: 4.4rem;
    white-space: nowrap;
}

.main__timer-value {
    font-size: 10.5rem;
}

.main__timer-label {
    font-size: 4rem;
}

.main__start .main__timer {
    display: block;
    position: static;
    margin: 0;
    transform: translateY(-3rem);
}

.main__start .main__timer-title {
    color: rgba(255, 255, 255, 0.9) !important;
    font-weight: 500;
    margin-bottom: 0.8rem;
    font-size: 2.2rem;
    line-height: 3.2rem;
}

.main__start .main__timer-content {
    justify-content: center;
    color: rgba(255, 255, 255, 0.9) !important;
    text-shadow: 0px 0px 10px rgba(255, 150, 77, 0.5), 0px 0px 20px rgba(255, 141, 61, 0.7), 0px 0px 40px #FF6900 !important;
}

.main__start .main__timer-item {
    margin-right: 3rem;
}

.main__start .main__timer-item:last-child {
    margin-right: 0;
}

.main__start .main__timer-value {
    font-size: 9rem;
}

.main__promo {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    margin: 0 -4rem -0.3rem 0;
}

.main__promo-content {
    min-width: 27.2rem;
    margin-top: 2.6rem;
    position: relative;
}

.main__promo-title {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 0.6rem;
    transition: 0.15s ease-in-out;
}

.main__promo:hover .main__promo-title {
    color: var(--orange);
}

.main__promo-value {
    color: rgba(255, 255, 255, 0.9);
}

.main__promo-question-mark {
    position: absolute;
    right: 100%;
    margin-right: 2rem;
    top: 50%;
    margin-top: -1.4rem;
}

.main__promo-btn-wrapper {

}

@media (min-width: 768px) {
    .main__promo-btn {
        width: 16rem;
        height: 16rem;
        padding: 0;
        white-space: normal;
        text-transform: none;
        text-align: center;
        color: rgba(255, 255, 255, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main__promo-btn,
    .main__promo-btn:before,
    .main__promo-btn:after {
        border-radius: 50%;
    }

    .main__promo-btn > span:before,
    .main__promo-btn > span:after {
        display: none;
    }

    .main__promo-btn:before {
        margin: 0;
        border-width: .3rem;
    }

    .main__promo-btn:after {
        margin: .1rem;
        border: .1rem solid #FFD5B7;
        filter: drop-shadow(0 0 1rem rgba(255, 150, 77, 0.5)) drop-shadow(0 0 2rem rgba(255, 141, 61, 0.7)) drop-shadow(0 0 4rem #FF6900);
    }
}

.main__scroll {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2.2rem;
    height: 3.4rem;
    border-radius: 2rem;
    border: 1px solid rgba(255,255,255,.3);
    animation: scroll-icon 1.5s linear infinite;
}

.main__scroll span {
    position: absolute;
    top: .6rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: .2rem;
    width: .2rem;
    height: .5rem;
    background-color: #fff;
    animation: scroll-icon-dott 1.5s ease infinite;
    transform-origin: top center;
}

@keyframes scroll-icon {
    0%, 100% {
        transform: translateY(0) translateX(-50%);
    }

    75% {
        transform: translateY(.3rem) translateX(-50%);
    }
}

@keyframes scroll-icon-dott {
    0%, 100% {
        transform: scaleY(1) translateX(-50%);
    }

    75% {
        transform: scaleY(2) translateX(-50%);
    }
}

.main__intro {
    position: absolute;
    right: 0;
    width: 39.2rem;
}

.main__intro-title {
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
    color: var(--orange);
    margin-bottom: 2.8rem;
}

.main__intro-video {
    display: block;
    position: relative;
}

.main__intro-cover {
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .4rem;
    position: relative;
}

.main__intro-cover:before {
    content: '';
    display: block;
    padding-top: calc(198 * 100% / 392);
}

.main__intro-cover:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: .2;
    border-radius: .4rem;
    transition: opacity 0.15s ease-in-out;
}

.main__intro-video:hover .main__intro-cover:after {
    opacity: .65;
}

.main__intro-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15.4rem;
    height: 15.4rem;
    position: absolute;
}

.main__intro-play:before,
.main__intro-play:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.15s ease-in-out;
}

.main__intro-play:before {
    background-image: url('../images/play-btn.svg');
}

.main__intro-play:after {
    background-image: url('../images/play-btn-active.svg');
}

.main__intro-play:after,
.main__intro-video:hover .main__intro-play:before {
    opacity: 0;
}

.main__intro-video:hover .main__intro-play:after {
    opacity: 1;
}

.main__mob-start {
    display: none;
}

.main__results {
    position: absolute;
    right: 0;
    margin-top: -.5rem;
    color: rgba(255, 255, 255, 0.5);
}

.main__results-title {
    font-weight: bold;
    color: var(--orange);
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}

.main__results-table-wrapper {
    margin-right: -3.3rem;
    width: 45rem;
}

.main__results-table {
    white-space: nowrap;
    position: relative;
    z-index: 1;
}

.main__results-table-row {
    display: flex;
    position: relative;
    margin-bottom: 0.6rem;
    transition: color 0.15s ease-in-out;
}

.main__results-table-row._user:before,
.main__results-table-row._user:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    transition: opacity 0.15s ease-in-out;
}

.main__results-table-row._user:before {
    top: 0;
}

.main__results-table-row._user:after {
    bottom: 0;
}

@media (min-width: 1024px) {
    .main__results-table-row:hover {
        color: #fff;
    }

    .main__results-table-row._user:hover:before,
    .main__results-table-row._user:hover:after {
        opacity: 0;
    }

    .main__results-table-overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: .4rem;
        background: rgba(255, 105, 0, 0.1);
        z-index: 1;
        backface-visibility: hidden;
        opacity: 0;
        visibility: hidden;
        transition: 0.15s ease-in-out;
        transition-property: opacity, visibility;
    }

    .main__results-table-row:hover .main__results-table-overlay {
        opacity: 1;
        visibility: visible;
    }

    .main__results-table-overlay:before,
    .main__results-table-overlay:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border: .2rem solid var(--orange);
        border-radius: .4rem;
        filter: drop-shadow(0 0 1rem rgba(255, 150, 77, 0.5)) drop-shadow(0 0 2rem rgba(255, 141, 61, 0.7)) drop-shadow(0 0 4rem #FF6900);
    }

    .main__results-table-overlay span:before,
    .main__results-table-overlay span:after {
        content: '';
        position: absolute;
        height: .2rem;
        width: 60%;
        background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50.96%, rgba(255, 255, 255, 0) 100%);
        opacity: 0.8;
        z-index: 1;
    }

    .main__results-table-overlay span:before {
        top: 0;
        left: .7rem;
    }

    .main__results-table-overlay span:after {
        bottom: 0;
        right: .7rem;
    }
}

.main__results-table-cell {
    padding: 1.7rem 0;
    position: relative;
    z-index: 2;
}

.main__results-table-cell:nth-child(1) {
    flex-shrink: 0;
    width: 8rem;
    text-align: center;
}

.main__results-table-cell:nth-child(2) {
    flex-grow: 1;
    min-width: 1px;
    padding-left: 4.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main__results-table-cell:nth-child(3) {
    flex-shrink: 0;
    width: 10rem;
    text-align: center;
}

.main__results-footer {
    text-align: right;
    margin-top: 3.3rem;
}

.main__results-more-link {
    color: inherit;
    text-decoration: none;
}

.main__results-more-link:hover {
    color: var(--orange);
}

.main__copyright {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: .1rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.2);
}

.main__content {
    z-index: 6;
}

.main__start {
    z-index: 5;
}

.main__promo,
.main__intro,
.main__scroll {
    z-index: 4;
}

.main__results {
    z-index: 3;
}

.main__logo,
.main__nav,
.main__timer {
    z-index: 2;
}

.main__copyright {
    z-index: 1;
}

.conditions {
    position: relative;
    padding-top: 9.3rem;
    padding-bottom: 3rem;
}

.conditions__header {
    text-align: center;
    margin-bottom: 7rem;
}

.conditions__title {
    font-weight: bold;
    font-size: 9rem;
    line-height: 11.5rem;
    text-transform: uppercase;
    color: var(--orange);
    margin: 0 0 2.7rem;
}

.conditions__subtitle {
    font-size: 2.2rem;
    line-height: 3.2rem;
    color: rgba(255, 255, 255, 0.9);
}

.conditions__subtitle p {
    margin: 0;
}

.conditions__content {
    margin-bottom: 6.6rem;
}

.prizes-slider {
    width: 135rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.prizes-slider__item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding-bottom: 5.4rem;
}

.prize {
    display: block;
    text-align: center;
    width: 41rem;
    height: 40.8rem;
    position: relative;
    margin: 0 auto;
}

.prize__title {
    position: absolute;
    left: 0;
    right: 0;
    top: 5.4rem;
    font-size: 2.2rem;
    line-height: 3.2rem;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
}

.prize__image {
    position: absolute;
    left: 0;
    right: 0;
    top: 5.4rem;
    bottom: 0;
    opacity: .7;
    transition: 0.15s ease-in-out;
}

.prize._hoodie .prize__image {
    opacity: .8;
}

.prize._hoodie.is-hover .prize__image {
    opacity: 1;
}

.prize__image img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 32.6rem;
    height: auto;
}

.prize__image img:not(.is-active) {
    display: none;
}

.prize__overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: url('../images/prize-light.svg') center bottom no-repeat;
    background-size: 100% auto;
    margin: 0 -1.6rem -1.6rem;
    pointer-events: none;
}

.prize__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5.4rem;
    text-align: center;
    white-space: nowrap;
    font-size: 3.5rem;
    line-height: 4.5rem;
}

.prize__content-inner {
    display: inline-block;
    position: relative;
}

.prize__name {
    display: inline-block;
    vertical-align: top;
    padding: 2.1rem 2.8rem;
    background: var(--orange);
    border-radius: 2rem;
}

.prize__count {
    position: absolute;
    left: 100%;
    top: 2.1rem;
    margin-left: 2rem;
}

.prize__overlay {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.35s ease-in-out;
}

.prize__content {
    opacity: 0;
    transform: translateY(-10%);
    transition: 0.25s ease-in-out;
}

@keyframes prize-image {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-6%);
    }
}

@media (min-width: 1024px) {
    .prize.is-hover .prize__image {
        animation: prize-image 2.5s ease-in-out infinite;
    }

    .prize.is-hover .prize__overlay {
        height: 100%;
        opacity: 1;
        visibility: visible;
    }

    .prize.is-hover .prize__content {
        opacity: 1;
        transform: translateY(0);
    }
}

.conditions__text {
    text-align: center;
    font-size: 2.2rem;
    line-height: 3.2rem;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10rem;
}

.conditions__text-item {
    display: inline;
}

.conditions__text-item:not(:last-child):after {
    content: ' —';
    margin: 0 2.8rem;
    color: rgba(255, 255, 255, 0.9);
}

.conditions__footer {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.footer {
    position: relative;
    background: var(--orange);
    color: #fff;
    padding: 4.5rem 0 6rem;
}

.footer a {
    opacity: .9;
}

.footer a:hover {
    opacity: 1;
}

.footer__top-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 3.4rem;
}

.footer__nav {
    margin: 0 auto 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
}

.footer__nav-item {
    margin-right: 5rem;
}

.footer__nav-link {
    color: inherit;
    text-decoration: none;
}

.footer__social {
    order: 1;
    margin-left: 4rem;
    display: flex;
}

.footer__social-btn {
    margin-left: 2rem;
    width: 4rem;
    height: 4rem;
}

.footer__social-btn img {
    display: block;
    width: 100%;
    height: 100%;
}

.footer__phone {
    margin-left: auto;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.2rem;
}

.footer__phone-num {
    color: inherit;
    text-decoration: none;
}

.footer__bottom-wrapper {
    display: flex;
    align-items: flex-end;
}

.footer__second-nav {
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    order: 1;
}

.footer__second-nav-item {
    margin-left: 5rem;
}

.footer__second-nav-link {
    color: inherit;
    text-decoration: none;
}

.footer__logo {
    margin-right: 3rem;
}

.footer__logo img {
    width: 20.6rem;
    height: 2.4rem;
}

.footer__copyright {
    margin-right: auto;
    color: rgba(255, 255, 255, 0.9);
}

.video-window {
    position: fixed;
    z-index: 2070;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    background: #000 url('../images/main-start-bg.jpg') center center no-repeat;
    color: rgba(255, 255, 255, 0.9);
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.35s ease-in-out;
    transition-property: transform, opacity, visibility;
}

.video-window.is-open {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

.video-window__close {
    position: absolute;
    right: 0;
    top: 6.5rem;
}

.video-window video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.login-window {
    position: fixed;
    z-index: 1080;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    background: #000 url('../images/main-start-bg.jpg') center center no-repeat;
    color: rgba(255, 255, 255, 0.9);
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease-in-out;
    transition-property: transform, opacity, visibility;
}

html.is-login-open .login-window {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.login-window__close {
    position: absolute;
    right: 0;
    top: 6.5rem;
}

.login-window__inner {
    display: flex;
    height: 100%;
    padding: 10rem 8rem;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.login-window__copyright {
    position: absolute;
    left: 0;
    right: 0;
    top: 5rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.2);
}

.login-window__content {
    margin: auto;
}

.login__section {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.login__section_reg {
    max-width: 52rem;
}

.login__section_sms {
    max-width: 71.8rem;
    display: none;
}

.login__section-title {
    font-size: 3.5rem;
    line-height: 4.5rem;
    margin-bottom: 4rem;
}

.login__reg {

}

.login__reg-form {

}

.login__reg-btn {

}

.login__back-btn {
    position: absolute;
    left: 0;
    top: -3.4rem;
    width: 5rem;
    height: 5rem;
    border: none;
    padding: 0;
    background: none;
}

.login__back-btn:before,
.login__back-btn:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: 0.15s ease-in-out;
}

.login__back-btn:before {
    background-image: url('../images/back-arrow.svg');
}

.login__back-btn:after {
    background-image: url('../images/back-arrow-active.svg');
}

.login__back-btn:before,
.login__back-btn:hover:after {
    opacity: 1;
    visibility: visible;
}

.login__back-btn:after,
.login__back-btn:hover:before {
    opacity: 0;
    visibility: hidden;
}

.login__sms {

}

.login__sms-form {

}

.login__sms-title {
    font-size: 2.2rem;
    line-height: 3.2rem;
    margin-bottom: 2.4rem;
}

.login__sms-title-phone {
    white-space: nowrap;
}

.login__sms-control-row.form-control-wrapper {
    max-width: 21.8rem;
    margin-bottom: 2.2rem;
}

.login__sms-control {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.4em;
    padding-left: 0;
    padding-right: 0;
}

.login__sms-control-row .form-control-bg:before {
    background-image: url('../images/input-sm.svg');
}

.login__sms-control-row .form-control-bg:after {
    background-image: url('../images/input-sm-active.svg');
}

.login__sms-timer-row {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1rem;
}

.login__sms-timer {

}

.login__sms-repeat-btn-row {
    margin-bottom: 1rem;
    display: none;
}

.login__sms-issue-btn-row {
    margin: 1rem 0 4rem;
}

.login__sms-repeat-btn,
.login__sms-issue-btn {
    color: inherit;
    border: none;
    padding: 0;
    background: none;
    text-decoration: none;
}

.login__sms-repeat-btn:hover,
.login__sms-issue-btn:hover {
    color: var(--orange);
}

.login__sms-start-btn-row {

}

.login__sms-start-btn {

}

.menu-window {
    position: fixed;
    z-index: 1090;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000 url('../images/main-start-bg.jpg') center center no-repeat;
    color: rgba(255, 255, 255, 0.9);
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease-in-out;
    transition-property: transform, opacity, visibility;
}

html.is-menu-open .menu-window {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

.menu-window__close {
    position: absolute;
    right: 0;
    top: 6.5rem;
}

.menu-window__inner {
    height: 100%;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.menu-window__wrapper {
    display: flex;
    min-height: 100%;
    position: relative;
    padding: 7rem 0 10rem;
}

.menu-window__content {
    margin: auto;
}

.logout-btn {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.logout-btn:hover {
    color: var(--orange);
}

.user {
    opacity: .4;
    transition: opacity 0.15s ease-in-out;
}

.user:hover {
    opacity: 1;
}

.user__name {
    font-size: 3.5rem;
    line-height: 4.5rem;
    margin-bottom: 2rem;
    transition: color 0.15s ease-in-out;
}

.user:hover .user__name {
    color: var(--orange);
}

.user__data {
    display: flex;
    flex-wrap: wrap;
}

.user__data-item {
    min-width: 8.5rem;
    margin-bottom: 2rem;
    position: relative;
}

.user__data-item:first-child {
    margin-right: 4rem;
}

.user__data-item_promocode {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
}

.user__data-question-mark {
    position: absolute;
    right: 100%;
    margin-right: 2rem;
    top: 50%;
    margin-top: -1.4rem;
}

.user__data-title {
    color: rgba(255,255,255,.5);
}

.user__data-value {

}

.social {
    text-align: center;
}

.social__btn {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    margin: 0 1rem;
}

.social__btn-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: -4rem;
    pointer-events: none;
}

.social__btn img {
    display: block;
    width: 100%;
    height: 100%;
    transition: 0.15s ease-in-out;
}

.social__btn img + img {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.social__btn:hover img {
    opacity: 0;
}

.social__btn:hover img + img {
    opacity: 1;
}

.burger-btn,
.menu-window__back {
    position: absolute;
    left: 6.1rem;
    top: 7.1rem;
}

.menu-window__logout,
.page__logout {
    position: absolute;
    right: 15.8rem;
    top: 11.4rem;
    z-index: 3;
}

.menu-window__nav {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
    font-size: 9rem;
    line-height: 11.5rem;
    text-transform: uppercase;
    text-align: center;
}

.menu-window__nav-item {
    margin: 4rem 0;
}

.menu-window__nav-item:first-child {
    margin-top: 0;
}

.menu-window__nav-item:last-child {
    margin-bottom: 0;
}

.menu-window__nav-link {
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: 0.25s ease-in-out;
    transition-property: color, text-shadow;
}

.menu-window__nav-link:hover {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 1rem #FFB800;
}

.menu-window__nav-bg {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    margin: -6.1rem 0 0 -45.2rem;
    width: 90.5rem;
    height: 12.9rem;
    opacity: 0;
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.25s ease-in-out;
    transition-property: opacity, visibility, transform;
    pointer-events: none;
}

.menu-window__nav-link:hover .menu-window__nav-bg {
    opacity: 1;
    visibility: visible;
    transform: scaleX(1);
}

.menu-window__nav-bg > span > span:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5.2rem 0 0 -39.9rem;
    width: 79.7rem;
    height: 10.5rem;
    background: linear-gradient(270deg, rgba(255, 105, 0, 0) 0%, #FF5C00 50.96%, rgba(255, 105, 0, 0) 100%);
    filter: blur(5.4rem);
    z-index: 1;
}

.menu-window__nav-bg:before,
.menu-window__nav-bg:after,
.menu-window__nav-bg > span:before,
.menu-window__nav-bg > span:after {
    content: '';
    position: absolute;
    height: .2rem;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50.96%, rgba(255, 255, 255, 0) 100%);
    filter: blur(.2rem);
    z-index: 2;
}

.menu-window__nav-bg:before {
    left: 23.8rem;
    top: 0;
    width: 11.1rem;
}

.menu-window__nav-bg:after {
    left: 0;
    bottom: 0;
    width: 30.3rem;
}

.menu-window__nav-bg > span:before {
    right: 8rem;
    top: .2rem;
    width: 16.9rem;
}

.menu-window__nav-bg > span:after {
    right: 0;
    bottom: 1.2rem;
    width: 16.9rem;
}

.menu-window__nav-text {
    position: relative;
    z-index: 1;
}

.menu-window__user {
    position: absolute;
    right: 4rem;
    width: 30.3rem;
    z-index: 2;
    top: 50%;
    margin-top: -14rem;
}

.menu-window__order-btn {
    position: absolute;
    right: 4rem;
    bottom: 4rem;
    width: 16rem;
    height: 16rem;
    padding: 0;
    white-space: normal;
    text-transform: none;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.menu-window__order-btn,
.menu-window__order-btn:before,
.menu-window__order-btn:after {
    border-radius: 50%;
}

.menu-window__order-btn > span:before,
.menu-window__order-btn > span:after {
    display: none;
}

.menu-window__order-btn:before {
    margin: 0;
    border-width: .3rem;
}

.menu-window__order-btn:after {
    margin: .1rem;
    border: .1rem solid #FFD5B7;
    filter: drop-shadow(0 0 1rem rgba(255, 150, 77, 0.5)) drop-shadow(0 0 2rem rgba(255, 141, 61, 0.7)) drop-shadow(0 0 4rem #FF6900);
}

.menu-window__social {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 4rem;
    z-index: 2;
}

.page {
    flex-grow: 1;
    min-height: 1px;
}

.page__bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page__wrapper {
    position: relative;
}

.page__inner {
    position: relative;
    padding-top: 17.5rem;
}

.page__title {
    font-weight: bold;
    font-size: 9rem;
    line-height: 11.5rem;
    margin: 0 0 3rem;
    text-transform: uppercase;
    color: var(--orange);
    word-break: break-word;
}

.rating-table-wrapper {
    position: relative;
    margin-bottom: 17rem;
}

.rating-table-pagination {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 6.7rem;
}

.rating-table {

}

.rating-table__header {
    border-top: 1px solid rgba(255,255,255,.25);
    border-bottom: 1px solid rgba(255,255,255,.25);
    color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    background-color: transparent;
    transition: background-color 0.15s ease-in-out;
}

.rating-table__header.is-stuck {
    background-color: var(--orange);
    z-index: 10;
}

.rating-table__body {
    color: rgba(255,255,255,.5);
    border-bottom: 1px solid rgba(255,255,255,.25);
    margin-bottom: 8rem;
}

.rating-table__body:last-child {
    margin-bottom: 0;
}

.rating-table__row {
    display: flex;
    position: relative;
    z-index: 1;
    transition: color 0.15s ease-in-out;
}

.rating-table__row:hover {
    color: #fff;
}

.rating-table__row._user {
    color: var(--orange);
}

.results-table__overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: .4rem;
    background: rgba(255, 105, 0, 0.1);
    z-index: 1;
    pointer-events: none;
    backface-visibility: hidden;
    opacity: 0;
    visibility: hidden;
    transition: 0.15s ease-in-out;
    transition-property: opacity, visibility;
}

.rating-table__row:hover .results-table__overlay,
.rating-table__row.is-highlight .results-table__overlay {
    opacity: 1;
    visibility: visible;
}

.results-table__overlay:before,
.results-table__overlay:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: .2rem solid var(--orange);
    border-radius: .4rem;
    filter: drop-shadow(0 0 1rem rgba(255, 150, 77, 0.5)) drop-shadow(0 0 2rem rgba(255, 141, 61, 0.7)) drop-shadow(0 0 4rem #FF6900);
}

.results-table__overlay span:before,
.results-table__overlay span:after {
    content: '';
    position: absolute;
    height: .2rem;
    width: 27.3rem;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50.96%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.8;
    z-index: 1;
}

.results-table__overlay span:before {
    top: 0;
    left: 21.7rem;
}

.results-table__overlay span:after {
    bottom: 0;
    left: 50%;
}

.rating-table__main-group {
    display: flex;
    flex: 0 0 41.7%;
    max-width: 41.7%;
}

.rating-table__levels-group {
    display: flex;
    flex: 0 0 58.3%;
    max-width: 58.3%;
}

.rating-table__cell {
    border-left: 1px solid rgba(255,255,255,.25);
    text-align: center;
    padding: 1.5rem 0;
    font-size: 2.2rem;
    line-height: 3.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rating-table__header .rating-table__cell {
    font-size: 1.8rem;
    line-height: 2.8rem;
    padding: 2.2rem 0;
}

.rating-table__cell_place {
    border-left: none;
    flex: 0 0 18.2%;
    max-width: 18.2%;
}

.rating-table__cell_name {
    flex-grow: 1;
    min-width: 1px;
}

.rating-table__body .rating-table__cell_name {
    text-align: left;
    padding-left: 8%;
}

.rating-table__cell_points {
    flex: 0 0 35.8%;
    max-width: 35.8%;
}

.rating-table__cell_prize {
    flex: 0 0 24.4%;
    max-width: 24.4%;
}

.rating-table__cell_prize > span:first-child {
    display: none;
}

.rating-table__cell_level {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 1px;
}

.rating-table__group-title {
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 4.5rem;
    margin-bottom: 1.5rem;
}

.rating-user-btn-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 5rem;
    text-align: right;
    pointer-events: none;
    z-index: 2;
}

.rating-user-btn {
    pointer-events: auto;
}

.popup__dec {
    pointer-events: none;
}

.popup__dec > span:nth-child(1) {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 10rem -15rem;
    background: linear-gradient(270deg, rgba(255, 152, 80, 0) 0%, #FF6900 50.96%, rgba(255, 152, 80, 0) 100%);
    opacity: 0.8;
    filter: blur(4.4rem);
}

.popup__dec > span:nth-child(2) span {
    position: absolute;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 2;
}

.popup__dec > span:nth-child(2) span:nth-child(1) {
    left: -3.3rem;
    top: -3.3rem;
    width: 25.1rem;
    height: 17.8rem;
    background-image: url('../images/p-l-t-o.svg');
}

.popup__dec > span:nth-child(2) span:nth-child(2) {
    right: -3.3rem;
    top: -3.3rem;
    width: 12.8rem;
    height: 19.9rem;
    background-image: url('../images/p-r-t-o.svg');
}

.popup__dec > span:nth-child(2) span:nth-child(3) {
    left: -3.3rem;
    bottom: -3.3rem;
    width: 12.8rem;
    height: 19.9rem;
    background-image: url('../images/p-l-b-o.svg');
}

.popup__dec > span:nth-child(2) span:nth-child(4) {
    right: .1rem;
    bottom: .1rem;
    width: 14.1rem;
    height: 5.8rem;
    background-image: url('../images/p-r-b-o.svg');
}

.popup__dec > span:nth-child(3) span {
    position: absolute;
    z-index: 1;
    height: .2rem;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50.96%, rgba(255, 255, 255, 0) 100%);
}

.popup__dec > span:nth-child(3) span:nth-child(1) {
    left: 6.6rem;
    right: 5rem;
    top: .5rem;
}

.popup__dec > span:nth-child(3) span:nth-child(2) {
    left: 4.8rem;
    right: 6.8rem;
    bottom: .4rem;
}

.popup__dec > span:nth-child(3) span:nth-child(3) {
    left: -4.8rem;
    width: 8.7rem;
    bottom: 0;
}

.popup__dec > span:nth-child(3) span:nth-child(4) {
    right: -2.9rem;
    width: 8.7rem;
    bottom: 0;
}

.popup__dec > span:nth-child(3) span:nth-child(5) {
    left: 50%;
    margin-left: -6rem;
    width: 8.7rem;
    bottom: -1.2rem;
}

.popup__dec > span:nth-child(3) span:nth-child(6) {
    left: -10.3rem;
    width: 27.3rem;
    top: -.8rem;
}

.popup__dec > span:nth-child(3) span:nth-child(7) {
    right: -4.1rem;
    width: 8.7rem;
    top: 0;
}

.popup__dec > span:nth-child(3) span:nth-child(8) {
    z-index: 4;
    top: 1.1rem;
    left: 1.1rem;
    right: 1.1rem;
}

.popup__dec > span:nth-child(3) span:nth-child(9) {
    z-index: 4;
    bottom: .8rem;
    left: 1.1rem;
    right: 1.1rem;
}

.popup__dec > span:nth-child(3) span:nth-child(10) {
    top: 12.4rem;
    bottom: 4.4rem;
    right: .5rem;
    height: auto;
    width: .2rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50.96%, rgba(255, 255, 255, 0) 100%);
}

.popup__dec > span:nth-child(3) span:nth-child(11) {
    top: 10.3rem;
    bottom: 12.9rem;
    left: .4rem;
    height: auto;
    width: .2rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50.96%, rgba(255, 255, 255, 0) 100%);
}

.popup__dec > span:nth-child(4) span {
    position: absolute;
    z-index: 4;
    background: #fff;
    filter: blur(1.5rem);
}

.popup__dec > span:nth-child(4) span:nth-child(1) {
    top: .8rem;
    left: 50%;
    margin-left: -5rem;
    width: 15.6rem;
    height: .9rem;
}

.popup__dec > span:nth-child(4) span:nth-child(2) {
    right: .1rem;
    bottom: -.4rem;
    width: .9rem;
    height: 1.8rem;
}

.popup-window {
    position: fixed;
    z-index: 2080;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: rgba(0, 0, 0, 0.65);
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease-in-out;
    transition-property: opacity, visibility;
}

html.is-menu-open .popup-window {
    background: rgba(0, 0, 0, 0.95);
}

.popup-window.is-open {
    opacity: 1;
    visibility: visible;
}

.popup-window__content {
    display: flex;
    height: 100%;
    padding: 6rem;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transform: scale(.8);
    transition: 0.25s ease-in-out;
    transition-property: transform;
}

.popup-window.is-open .popup-window__content {
    transform: scale(1);
}

.popup-window._closable .popup-window__content {
    cursor: pointer;
}

.popup {
    width: 60rem;
    max-width: 100%;
    margin: auto;
    position: relative;
    padding: 2rem;
    cursor: auto;
    font-size: 2.2rem;
    line-height: 3.2rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    cursor: auto;
    display: none;
    background: rgb(0, 0, 0, .9);
}

@supports(backdrop-filter: blur(4px)){
    .popup {
        background: none;
    }
}

.popup-window .popup {
    display: block;
}

.popup_size_lg {
    width: 81rem;
}

.popup:after {
    content: '';
    border: .4rem solid #F01900;
    filter: drop-shadow(0 0 .6rem #FF6900);
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 1.1rem 1.1rem .8rem;
}

.popup__close-btn {
    position: absolute;
    right: -14.8rem;
    top: -8.5rem;
    cursor: pointer;
}

.popup__content {
    display: flex;
    align-items: center;
    min-height: 36.8rem;
    padding: 5.9rem 8rem;
    position: relative;
    z-index: 5;
    background: linear-gradient(219.51deg, rgba(240, 25, 0, .7) -20.56%, rgba(240, 25, 0, 0) 101.9%);
    box-shadow: 0 0 .5rem rgb(255, 255, 255, 20%) inset;
    backdrop-filter: blur(4px);
}

.popup__content-inner {
    width: 100%;
}

.popup_theme_blue .popup__dec > span:nth-child(1) {
    background: linear-gradient(270deg, rgba(5, 180, 236, 0) 0%, #00FFFF 50.96%, rgba(5, 180, 236, 0) 100%);
}

.popup_theme_blue .popup__dec > span:nth-child(2) span:nth-child(1) {
    background-image: url('../images/p-l-t.svg');
}

.popup_theme_blue .popup__dec > span:nth-child(2) span:nth-child(2) {
    background-image: url('../images/p-r-t.svg');
}

.popup_theme_blue .popup__dec > span:nth-child(2) span:nth-child(3) {
    background-image: url('../images/p-l-b.svg');
}

.popup_theme_blue .popup__dec > span:nth-child(2) span:nth-child(4) {
    background-image: url('../images/p-r-b.svg');
}

.popup_theme_blue:after {
    border-color: #05B4EC;
    filter: drop-shadow(0 0 .6rem #05B4EC);
}

.popup_theme_blue .popup__content {
    background: linear-gradient(219.51deg, rgba(5, 180, 236, .7) -20.56%, rgba(5, 180, 236, 0) 101.9%);
}

.popup__icon {
    width: 8.9rem;
    height: 8.9rem;
    margin: -1.1rem auto 1.5rem;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.popup__icon_success {
    background-image: url('../images/popup-success.svg');
}

.popup__icon_error {
    background-image: url('../images/popup-error.svg');
}

.popup__title {
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 5rem;
    margin-bottom: 2.3rem;
}

.popup__text {
    position: relative;
    z-index: 2;
    margin-bottom: 2.3rem;
}

.popup__promo-copy {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
    padding: 2.3rem 3rem;
    white-space: normal;
}

.friend-request-text {
    font-size: 1.8rem;
    line-height: 2.8rem;
    max-width: 24em;
    margin: 2.5rem auto 0;
}

.popup__footer {
    display: flex;
    margin: 8rem -5.7rem 0;
}

.popup__footer-item {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 1px;
    text-align: center;
}

.popup__link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    z-index: 1;
}

.popup__link:disabled {
    pointer-events: none;
    opacity: .3;
}

.popup__link:hover {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0px 0px 10px rgba(255, 150, 77, 0.5), 0px 0px 20px rgba(255, 141, 61, 0.7), 0px 0px 40px #FF6900;
}

.popup__link:before,
.popup__link:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    background: linear-gradient(270deg, rgba(255, 152, 80, 0) 0%, #FF6900 50.96%, rgba(255, 152, 80, 0) 100%);
    opacity: 0.9;
    filter: blur(2rem);
    opacity: 0;
    visibility: hidden;
    transition: 0.15s ease-in-out;
    transition-property: opacity, visibility;
    pointer-events: none;
}

.popup_theme_blue .popup__link:before,
.popup_theme_blue .popup__link:after {
    background: linear-gradient(270deg, rgba(5, 180, 236, 0) 0%, #05B4EC 50.96%, rgba(5, 180, 236, 0) 100%);
}

.popup__link:before {
    width: 56.7rem;
    height: 6rem;
}

.popup__link:after {
    width: 29.5rem;
    height: 3.9rem;
    filter: blur(1.5rem);
}

.popup__link:hover:before,
.popup__link:hover:after {
    opacity: 1;
    visibility: visible;
}


.popup__btn-wrapper {

}

.waiting-window {
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: rgba(0, 0, 0, 0.65);
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease-in-out;
    transition-property: opacity, visibility;
}

.waiting-window:before {
    content: '';
    position: absolute;
    width: 6rem;
    height: 6rem;
    left: 50%;
    top: 50%;
    margin: -3rem;
    border: .4rem solid;
    border-color: var(--orange) transparent;
    border-radius: 50%;
    animation: rotate 1.5s linear infinite;
    filter: drop-shadow(0 0 1rem rgba(255, 150, 77, 0.5)) drop-shadow(0 0 2rem rgba(255, 141, 61, 0.7)) drop-shadow(0 0 4rem #FF6900);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

html.is-waiting {
    pointer-events: none;
}

html.is-waiting .waiting-window {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

.game {
    position: relative;
    overflow: hidden;
    flex-grow: 1;
    min-height: 1px;
}

.game-interface {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    /*background: url('../images/game-interface.svg') 0 0 no-repeat;
    background-size: 100% 100%;*/
}

.game-interface__left,
.game-interface__right,
.game-interface__top,
.game-interface__bottom {
    position: absolute;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.game-interface__left,
.game-interface__right {
    top: 50%;
    max-height: 85%;
}

.game-interface__left {
    transform: translateY(-49.4%);
}

.game-interface__right {
    transform: translateY(-50%);
}

.game-interface__top,
.game-interface__bottom {
    left: 50%;
    transform: translateX(-50%);
}

.game-interface__top {
    max-height: 5.4%;
}

.game-interface__bottom {
    max-height: 17%;
}

.game-interface__left {
    width: 18.4rem;
    height: 76.5rem;
    background-image: url('../images/interface-left.svg');
    left: 3rem;
}

.game-interface__right {
    width: 18.4rem;
    height: 76.3rem;
    background-image: url('../images/interface-right.svg');
    right: 3rem;
}

.game-interface__top {
    width: 110rem;
    height: 4.9rem;
    background-image: url('../images/interface-top.svg');
    top: 2.7rem;
}

.game-interface__bottom {
    width: 150rem;
    height: 15.5rem;
    background-image: url('../images/interface-bottom.svg');
    bottom: 2.4rem;
}

.game-copyright {
    position: absolute;
    right: 4rem;
    bottom: 2.9rem;
    pointer-events: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.2);
}

.game-score {
    position: absolute;
    right: 9.2rem;
    top: 2.1rem;
    width: 42.6rem;
    height: 19.7rem;
    background: url('../images/game-score.svg') 0 0 no-repeat;
    background-size: 100% 100%;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2rem;
    pointer-events: none;
}

.game-score__title,
.game-score__points,
.game-score__username {
    position: absolute;
    top: 44%;
    pointer-events: auto;
}

.game-score__title {
    left: 0.5%;
}

.game-score__points {
    position: absolute;
    left: 15%;
    width: 25.5%;
    margin-top: -.9rem;
    text-align: center;
    font-size: 6rem;
    line-height: 4rem;
}

.game-score__username {
    left: 50.8%;
    right: 0%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.game-timer {
    position: absolute;
    left: 50%;
    top: 6.5rem;
    width: 20rem;
    margin-left: -10rem;
    text-align: center;
    font-size: 2.5rem;
    line-height: 3.4rem;
    color: var(--blue);
    pointer-events: none;
}

.game-lives {
    position: absolute;
    left: 31.4rem;
    top: 5.9rem;
    width: 31.3rem;
    height: 12.9rem;
    background: url('../images/lives.svg') 0 0 no-repeat;
    background-size: 100% 100%;
    font-size: 3.5rem;
    line-height: 4.5rem;
}

.game-lives__text {
    position: absolute;
    left: 14.2rem;
    top: 3.4rem;
}

.game-burger {

}

.game-burger .burger-btn__text {
    opacity: 1;
}

.mission__icon {
    position: absolute;
    z-index: 10;
    right: 25.1rem;
    bottom: 12.7rem;
    width: 35rem;
    height: 19.6rem;
    transform: rotate(-8deg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
}

.mission-1 .mission__icon {
    background-image: url('../images/mission-icon-1.png');
}

.mission-2 .mission__icon {
    background-image: url('../images/mission-icon-2.png');
}

.mission-3 .mission__icon {
    background-image: url('../images/mission-icon-3.png');
}

.mission-4 .mission__icon {
    background-image: url('../images/mission-icon-4.png');
}

.mission-5 .mission__icon {
    background-image: url('../images/mission-icon-5.png');
}

.mission {

}

.mission__bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.game-interface {
    z-index: 100;
}

.game-copyright {
    z-index: 100;
}

.game-score {
    z-index: 201;
}

.game-burger {
    z-index: 202;
}

.game-timer {
    z-index: 203;
}

.game-lives {
    z-index: 204;
}

.mission__bg {
    z-index: 1;
}

.mission__start {
    position: relative;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 150;
    color: rgba(255, 255, 255, 0.9);
    padding: 10rem 0 15.2rem;
}

.mission__start-content {
    text-align: center;
    width: 100%;
    max-width: 118rem;
    min-height: 39.8rem;
    position: relative;
    margin: auto;
}

.mission__num {
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 5rem;
    margin-bottom: 3rem;
    position: relative;
}

.mission__title {
    font-size: 7.5rem;
    line-height: 9rem;
    letter-spacing: 0.02em;
    margin-bottom: 5.4rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.mission__title-bg {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    margin: -6.1rem 0 0 -45.2rem;
    width: 90.5rem;
    height: 12.9rem;
    pointer-events: none;
}

.mission__title-bg > span > span:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -5.2rem 0 0 -39.9rem;
    width: 79.7rem;
    height: 10.5rem;
    background: linear-gradient(270deg, rgba(255, 105, 0, 0) 0%, #FF5C00 50.96%, rgba(255, 105, 0, 0) 100%);
    filter: blur(3.5rem);
    z-index: 1;
}

.mission__title-bg:before,
.mission__title-bg:after,
.mission__title-bg > span:before,
.mission__title-bg > span:after {
    content: '';
    position: absolute;
    height: .2rem;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50.96%, rgba(255, 255, 255, 0) 100%);
    filter: blur(1px);
    z-index: 2;
}

.mission__title-bg:before {
    left: 23.8rem;
    top: 0;
    width: 11.1rem;
}

.mission__title-bg:after {
    left: 0;
    bottom: 0;
    width: 30.3rem;
}

.mission__title-bg > span:before {
    right: 8rem;
    top: .2rem;
    width: 16.9rem;
}

.mission__title-bg > span:after {
    right: 0;
    bottom: 1.2rem;
    width: 16.9rem;
}

.mission__title-text {
    position: relative;
    z-index: 1;
}

.mission__text {
    margin: 0 auto 4rem;
    font-size: 2.2rem;
    line-height: 3.2rem;
    position: relative;
    z-index: 2;
}

.mission-1 .mission__text {
    max-width: 30em;
}

.mission-3 .mission__text {
    max-width: 36em;
}

.mission-4 .mission__text {
    max-width: 30em;
}

.mission__text a {
    color: var(--blue);
    text-decoration: none;
    border-bottom: 1px solid;
}

.mission__text a:hover {
    color: var(--orange);
}

.mission__start-btn {

}

.mission__play-btn {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border: none;
    padding: 0;
    background: none;
    width: 7rem;
    height: 7rem;
    margin-top: 4.4rem;
    transition: transform 0.25s ease-in-out;
}

.mission__play-btn:hover {
    transform: scale(1.4);
}

.mission__play-btn:before,
.mission__play-btn:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: -4.2rem;
    pointer-events: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.15s ease-in-out;
}

.mission__play-btn:before {
    background-image: url('../images/play-btn.svg');
}

.mission__play-btn:after {
    background-image: url('../images/play-btn-active.svg');
}

.mission__play-btn:after,
.mission__play-btn:hover:before {
    opacity: 0;
}

.mission__play-btn:hover:after {
    opacity: 1;
}

.mission__input-wrapper {
    margin: -.5rem 0;
}

.mission__input {
    display: inline-flex;
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.3);
    border: .2rem solid var(--orange);
    border-radius: 5rem;
    padding: .3rem;
}

.mission__input-control-wrapper {
    min-width: 22.5rem;
    padding-right: 0.3rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mission__input-control {
    display: block;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: none;
    background: none;
    width: 22.2rem;
    font-weight: 700;
    color: rgba(255, 255, 255, .9);
    text-align: center;
    border-radius: 4rem;
    font-size: 2.2rem;
    line-height: 3rem;
    padding: 2rem 0;
}

.mission__input-control::placeholder {
    color: rgba(255, 255, 255, .5);
}

.mission__input-control:focus::placeholder {
    color: transparent;
}

.mission__input-control.error {
    background: radial-gradient(rgba(255, 0, 0, 1), rgba(255, 0, 0, 0) 80%);
}

.mission__input-btn-wrapper {
    flex-shrink: 0;
}

.mission__input-btn {

}

.mission-1__start-coffee {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    margin-top: 7.7rem;
    transition: 1.5s cubic-bezier(0.34, 1.56, 0.64, 1);
    transition-property: transform;
}

html.is-waiting .mission-1__start-coffee {
    opacity: 0;
    transform: translateX(-50%) translateY(50%);
}

.mission-1__start-coffee img:not(.is-active) {
    display: none;
}

.mission__final-steps {
    font-size: 1.8rem;
    line-height: 2.8rem;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: -1.2rem;
    display: flex;
    text-align: center;
    margin-bottom: 4.5rem;
    justify-content: space-between;
}

.mission__final-steps-item {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 1px;
    max-width: 30%;
    padding-top: 2.1rem;
    position: relative;
}

.mission__final-steps-item:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 1.2rem;
    height: 1.2rem;
    margin: -.6rem;
    border-radius: 50%;
    background: #FF822B;
    border: 1px solid #FF6900;
    box-shadow: 0px 0px 10px rgba(255, 150, 77, 0.5), 0px 0px 20px rgba(255, 141, 61, 0.7), 0px 0px 40px #FF6900;
}

.mission-5__promo-section {
    position: relative;
    margin-bottom: 1.4rem;
}

.mission-5:not([data-status="start"]) .mission-5__promo-wrapper,
.mission-5:not([data-status="code"]) .mission-5__form-wrapper {
    display: none;
}

.mission-5__next-btn-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 2.9rem;
}

.mission-5__next-btn,
.mission-5__prev-btn {
    border: none;
    padding: 0;
    background: none;
    font-size: 2.2rem;
    line-height: 3.2rem;
    color: rgba(255, 255, 255, 0.5);
}

.mission-5__next-btn:hover,
.mission-5__prev-btn:hover {
    color: rgba(255, 255, 255, 0.9);
}

.game-map {

}

.game-map__bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 20;
}

.game-map__markers {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 19rem 21rem 15rem;
    z-index: 140;
    pointer-events: none;
}

.game-map__marker {
    position: absolute;
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    pointer-events: auto;
}

.game-map__marker_dodo {
    left: 20%;
    top: 48.3%;
}

.game-map__marker_location-1 {
    left: 66.9%;
    top: 51.3%;
}

.game-map__marker_location-2 {
    left: 25.2%;
    top: 85.8%;
}

.game-map__marker.is-completed {
    cursor: default;
}

.game-map__marker-content {
    position: absolute;
    left: 0;
    top: 0;
}

.game-map__marker-icon {
    position: absolute;
    left: -3.4rem;
    margin-bottom: -.4rem;
    bottom: 100%;
    width: 9.4rem;
    height: 14.6rem;
    background: url('../images/location-marker.svg') 0 0 no-repeat;
    background-size: 100% 100%;
    transform: scale(.47);
    transform-origin: 3.6rem 14.1rem;
    transition: transform 0.35s ease-in-out;
}

.game-map__marker:hover .game-map__marker-icon {
    transform: scale(1);
}

.game-map__marker_dodo .game-map__marker-icon {
    background-image: url('../images/location-marker-dodo.svg');
}

.game-map__marker.is-completed .game-map__marker-icon {
    opacity: .3;
}

.game-map__marker-icon > span {
    width: 6.5rem;
    height: 6.5rem;
    position: absolute;
    left: 1.4rem;
    top: 1.4rem;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
}

.game-map__marker:hover .game-map__marker-icon > span {
    opacity: 1;
}

.game-map__marker_dodo .game-map__marker-icon > span {
    opacity: 1;
}

.game-map__marker-title {
    position: absolute;
    left: 5.1rem;
    top: -3.2rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    font-size: 2.2rem;
    line-height: 3.8rem;
    pointer-events: none;
}

.game-map__marker.is-completed .game-map__marker-title {
    opacity: .8;
}

.game-map__marker-title > span {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    background: var(--blue);
    margin-bottom: 0.5rem;
    padding: 0 2.3rem;
    border-radius: 2rem;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-4rem);
    transition: 0.35s ease-in-out;
    transition-property: transform, opacity, visibility;
}

.game-map__marker:hover .game-map__marker-title > span {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition-delay: .2s;
}

.game-map__marker:hover .game-map__marker-title > span + span {
    transition-delay: .35s;
}

.game-map__marker_dodo .game-map__marker-title > span {
    background: var(--orange);
}

.game-map__header {
    position: absolute;
    left: 0;
    right: 0;
    top: 7.8rem;
    text-align: center;
    z-index: 150;
    font-size: 2.2rem;
    line-height: 3.2rem;
    color: rgba(255, 255, 255, 0.9);
}

.game-map__title {
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 5rem;
    margin: 0 0 2rem;
    text-transform: uppercase;
}

.game-map__subtitle {

}

.game-location {

}

.game-location__bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 21;
}

.game-location__timer {

}

.game-location__scale {
    position: absolute;
    z-index: 150;
    left: 0;
    right: 0;
    bottom: 10.5rem;
    display: flex;
    justify-content: center;
}

.game-location__scale-item {
    flex-shrink: 0;
    width: 3rem;
    height: 3.8rem;
    margin: 0 .1rem 0 .2rem;
    background: url('../images/coffee.png') 0 0 no-repeat;
    background-size: 100% 100%;
    opacity: .2;
    transition-property: opacity;
}

.game-location__scale-item.is-active {
    opacity: 1;
    transition-delay: .75s;
}

.game-location__markers {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 23rem 24rem 19rem;
    z-index: 300;
    pointer-events: none;
}

.game-location__marker {
    position: absolute;
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
    width: 6.4rem;
    height: 8.2rem;
    transform: translate(-50%, -50%);
    pointer-events: auto;
}

.game-location__marker-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('../images/coffee.png') 0 0 no-repeat;
    background-size: 100% 100%;
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: 0.25s ease-in-out;
    transition-property: opacity, visibility, transform;
}

.game-location__marker.is-active {
    pointer-events: none;
}

.game-location__marker.is-active .game-location__marker-icon {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.mission-2-video-window video {
    object-fit: contain;
}

.game-test__content {
    position: relative;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 150;
    color: rgba(255, 255, 255, 0.9);
    padding: 14rem 25.9rem 11rem;
}

.game-test__item {
    width: 100%;
    position: relative;
    margin: auto 0;
    display: none;
}

.game-test__item.is-active {
    display: block;
}

.game-test__item-inner {
    display: flex;
    align-items: flex-start;
}

.game-test__item-image {
    flex-shrink: 0;
    flex-grow: 0;
    width: 66rem;
    height: 67.9rem;
    padding: 2.8rem 2.5rem 0 1.5rem;
    background: url('../images/test-img.svg') 0 0 no-repeat;
    background-size: 100% 100%;
}

.game-test__item-image img {
    display: block;
    width: 100%;
    height: auto;
}

.game-test__item-content {
    padding: 11.7rem 0 0 11.7rem;
    position: relative;
    z-index: 1;
}

.game-test__item-num {
    font-size: 3.5rem;
    line-height: 4.5rem;
    margin-bottom: 4.4rem;
    position: relative;
    padding: 2.1rem 0 0 4.2rem;
}

.game-test__item-num:before {
    content: '';
    position: absolute;
    top: 0;
    left: -19rem;
    z-index: -1;
    width: 38.8rem;
    height: 16.5rem;
    background: url('../images/test-num.svg') 0 0 no-repeat;
    background-size: 100% 100%;
}

.game-test__item-question {
    font-size: 2.2rem;
    line-height: 3.2rem;
    margin-bottom: 3.5rem;
}

.game-test__item-answer {
    position: relative;
    margin: 0 0 .4rem -3.6rem;
    cursor: pointer;
    font-size: 2rem;
}

.game-test__item-answer-inner {
    display: inline-block;
    vertical-align: top;
    position: relative;
    padding: 1.7rem 4rem;
}

.game-test__item-answer-content {
    position: relative;
    z-index: 1;
}

.game-test__item-answer-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: .4rem;
    background: rgba(255, 105, 0, 0.1);
    pointer-events: none;
    backface-visibility: hidden;
    opacity: 0;
    visibility: hidden;
    transition: 0.15s ease-in-out;
    transition-property: opacity, visibility;
}

.game-test__item-answer:hover,
.game-test__item-answer.is-selected {
    font-size: 2.2rem;
}

.game-test__item-answer:hover .game-test__item-answer-overlay,
.game-test__item-answer.is-selected .game-test__item-answer-overlay {
    opacity: 1;
    visibility: visible;
}

.game-test__item-answer-overlay:before,
.game-test__item-answer-overlay:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: .2rem solid var(--orange);
    border-radius: .4rem;
    filter: drop-shadow(0 0 1rem rgba(255, 150, 77, 0.5)) drop-shadow(0 0 2rem rgba(255, 141, 61, 0.7)) drop-shadow(0 0 4rem #FF6900);
}

.game-test__item-answer-overlay span:before,
.game-test__item-answer-overlay span:after {
    content: '';
    position: absolute;
    height: .2rem;
    width: 9rem;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50.96%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.8;
    z-index: 1;
}

.game-test__item-answer-overlay span:before {
    top: 0;
    left: 7rem;
    max-width: calc(100% - 7rem);
}

.game-test__item-answer-overlay span:after {
    bottom: 0;
    left: 50%;
    margin-left: -4.5rem;
}

.game-help {

}

.game-help__content,
.game-help__bg {
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease-in-out;
    transition-property: opacity, visibility;
}

.game-help__content {
    position: absolute;
    z-index: 600;
    font-size: 2.2rem;
    line-height: 3.2rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    width: 100%;;
    max-width: 21.4em;
}

.game-help__icons {
    margin-bottom: 3.5rem;
}

.game-help__icons img {
    margin: 0 -2.2rem;
}

.game-help__text {
    margin-bottom: 3rem;
}

.game-help__btn {

}

.game-help__bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 500;
}

.game-help_score .game-help__content {
    right: 10.6rem;
    top: 21.8rem;
}

.game-help_timer .game-help__content {
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 12.6rem;
}

.game-help_lives .game-help__content {
    left: 21rem;
    top: 18.6rem;
}

.game-help_scale .game-help__content {
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 16.9rem;
}

.game-help_start .game-help__content {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 25em;
    height: 30.1rem;
}

.game-help_speed .game-help__content {
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 57rem;
}

.game[data-help="score"] .game-help_score .game-help__content,
.game[data-help="score"] .game-help_score .game-help__bg,
.game[data-help="timer"] .game-help_timer .game-help__content,
.game[data-help="timer"] .game-help_timer .game-help__bg,
.game[data-help="lives"] .game-help_lives .game-help__content,
.game[data-help="lives"] .game-help_lives .game-help__bg,
.game[data-help="scale"] .game-help_scale .game-help__content,
.game[data-help="scale"] .game-help_scale .game-help__bg,
.game[data-help="start"] .game-help_start .game-help__content,
.game[data-help="start"] .game-help_start .game-help__bg,
.game[data-help="speed"] .game-help_speed .game-help__content,
.game[data-help="speed"] .game-help_speed .game-help__bg {
    opacity: 1;
    visibility: visible;
}

.game[data-help="score"] .game-score,
.game[data-help="timer"] .game-timer,
.game[data-help="lives"] .game-lives,
.game[data-help="scale"] .game-location__scale,
.game[data-help="start"] .game-burger,
.game[data-help="speed"] .game-speed__circle-140,
.game[data-help="speed"] .game-speed__circle-btn {
    z-index: 700;
}

.game[data-help="speed"] .game-speed__circle-btn {
    pointer-events: none;
}

.game[data-help="scale"] .game-location__scale .game-location__scale-item:nth-child(-n+5) {
    opacity: 1;
}

.mission-1 .mission__start,
.mission-1 .game-map__bg,
.mission-1 .game-map__header,
.mission-1 .game-map__markers,
.mission-1 .game-location__bg,
.mission-1 .game-location__timer,
.mission-1 .game-location__scale,
.mission-1 .game-location__markers {
    opacity: 0;
    visibility: hidden;
    transition: 0.35s ease-in-out;
    transition-property: opacity, visibility;
}

.mission-1[data-status="start"] .mission__start,
.mission-1[data-status="map"] .game-map__bg,
.mission-1[data-status="map"] .game-map__header,
.mission-1[data-status="map"] .game-map__markers,
.mission-1[data-status="location-1"] .game-location_1 .game-location__bg,
.mission-1[data-status="location-1"] .game-location_1 .game-location__timer,
.mission-1[data-status="location-1"] .game-location_1 .game-location__scale,
.mission-1[data-status="location-1"] .game-location_1 .game-location__markers,
.mission-1[data-status="location-2"] .game-location_2 .game-location__bg,
.mission-1[data-status="location-2"] .game-location_2 .game-location__timer,
.mission-1[data-status="location-2"] .game-location_2 .game-location__scale,
.mission-1[data-status="location-2"] .game-location_2 .game-location__markers {
    opacity: 1;
    visibility: visible;
}

.mission-2 .game-test__timer,
.mission-2 .game-test__lives {
    opacity: 0;
    visibility: hidden;
    transition: 0.35s ease-in-out;
    transition-property: opacity, visibility;
}

.mission-2[data-status="test"] .game-test__timer,
.mission-2[data-status="test"] .game-test__lives {
    opacity: 1;
    visibility: visible;
}

.mission-2:not([data-status="start"]) .mission__start,
.mission-2:not([data-status="test"]) .game-test__content {
    display: none;
}

.mission-3:not([data-status="start"]) .mission-3__start,
.mission-3:not([data-status="win"]) .mission-3__win {
    display: none;
}

.mission-3 .mission__start {
    padding: 24rem 0 29.2rem;
}

.mission-3__popup-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding-top: 4rem;
    height: 30.2rem;
    z-index: 300;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    backface-visibility: hidden;
    transform: translateY(50%);
    transition: .8s ease-in-out;
    transition-property: transform, opacity, visibility;
}

.mission-3[data-status="win"] .mission-3__popup-wrapper {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.mission-3__popup-wrapper .popup {
    pointer-events: auto;
    display: block;
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.mission-3__popup-wrapper .popup__content {
    min-height: 0;
    padding: 3.2rem 0 6rem;
}

.mission-3__popup-wrapper .popup__text {
    margin-bottom: 2.5rem;
}

.mission-3__popup-wrapper .popup__promo-copy {
    font-size: 2.2rem;
    padding: 2.3rem 5rem;
}

.mission-4 video {
    object-fit: cover;
}

.mission-4 .game-speed__lives {
    opacity: 0;
    visibility: hidden;
    transition: 0.35s ease-in-out;
    transition-property: opacity, visibility;
}

.mission-4[data-status="game"] .game-speed__lives {
    opacity: 1;
    visibility: visible;
}

.mission-4:not([data-status="start"]) .mission__start,
.mission-4:not([data-status="game"]) .game-speed__content {
    display: none;
}

.game-speed__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.game-speed__content:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 33.7rem;
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 101;
}

.game-speed__circle {
    position: absolute;
    left: 50%;
    bottom: -21.9rem;
    margin-left: -38.1rem;
    width: 76.3rem;
    height: 76.3rem;
    pointer-events: none;
}

.game-speed__circle-light {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 162.5rem;
    height:  76.3rem;
    z-index: 103;
}

.game-speed__circle-light:before,
.game-speed__circle-light:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.game-speed__circle-light:before {
    background-image: url('../images/speed-light.svg');
}

.game-speed__circle-light:after {
    background-image: url('../images/speed-light-hover.svg');
}

.game-speed__circle-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url('../images/speed-bg.svg') 0 0 no-repeat;
    background-size: 100% 100%;
    z-index: 104;
}

.game-speed__circle-num {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url('../images/speed-num.svg') 0 0 no-repeat;
    background-size: 100% 100%;
    z-index: 106;
}

.game-speed__circle-line-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 13.5rem;
    border-radius: 50%;
    transform: translateX(-0.4rem) translateY(-0.3rem);
    z-index: 105;
}

.game-speed__circle-line {
    display: block;
    width: 100%;
    height: 100%;
}

.game-speed__circle-line path {
    stroke-width: 10;
    stroke: #fff;
    fill: none;
    stroke-dasharray: 946;
    stroke-dashoffset: 946;
}

.game-speed__circle-140 {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -9.2rem 0 0 7.6rem;
    width: 43.2rem;
    height: 11rem;
    background: url('../images/speed-140.svg') 0 0 no-repeat;
    background-size: 100% 100%;
    z-index: 107;
}

.game-speed__circle-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 29.6rem;
    height: 29.6rem;
    margin: -14.8rem;
    background: none;
    padding: 0;
    border:  none;
    border-radius: 50%;
    pointer-events: auto;
    z-index: 108;
}

.game-speed__circle-btn:before,
.game-speed__circle-btn:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -38.1rem;
    width: 76.3rem;
    height: 76.3rem;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
}

.game-speed__circle-btn:before {
    background-image: url('../images/speed-btn.svg');
}

.game-speed__circle-btn:after {
    background-image: url('../images/speed-btn-hover.svg');
}

.game-speed__circle-light:after,
.game-speed__circle-btn:after {
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease-in-out;
    transition-property: opacity, visibility;
}

.game-speed__circle:hover .game-speed__circle-light:after,
.game-speed__circle:hover .game-speed__circle-btn:after {
    opacity: 1;
    visibility: visible;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination__item {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin: .2rem;
    min-width: 3.6rem;
    height: 3.6rem;
    padding: 0 .3rem;
    border-radius: .5rem;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
}

a.pagination__item:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

a.pagination__item.is-active {
    background-color: var(--orange);
}

.pagination__item.is-disabled {
    pointer-events: none;
    opacity: .3;
}

.pagination__first,
.pagination__prev,
.pagination__next,
.pagination__last {
    text-indent: -9999px;
    background-position: center center;
    background-repeat: no-repeat;
}

.pagination__first {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 9' fill='none' stroke='white' stroke-opacity='0.9' stroke-linecap='round' stroke-linejoin='round' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.99991 7.97656L4.99991 4.47656L8.99991 0.976562'/%3E%3Cpath d='M4.99991 7.97656L0.999909 4.47656L4.99991 0.976562'/%3E%3C/svg%3E");
    background-size: 1rem .9rem;
}

.pagination__prev {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 9' fill='none' stroke='white' stroke-opacity='0.9' stroke-linecap='round' stroke-linejoin='round' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.99991 7.97656L0.999909 4.47656L4.99991 0.976562'/%3E%3C/svg%3E");
    background-size: .6rem .9rem;
}

.pagination__next {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 6 9' fill='none' stroke='white' stroke-opacity='0.9' stroke-linecap='round' stroke-linejoin='round' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7.97656L5 4.47656L1 0.976562'/%3E%3C/svg%3E");
    background-size: .6rem .9rem;
}

.pagination__last {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 9' fill='none' stroke='white' stroke-opacity='0.9' stroke-linecap='round' stroke-linejoin='round' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0.999999L5 4.5L0.999999 8'/%3E%3Cpath d='M5 0.999999L9 4.5L5 8'/%3E%3C/svg%3E");
    background-size: 1rem .9rem;
}

.text {
    font-size: 2.2rem;
    line-height: 3.2rem;
}

.text strong {
    font-weight: bold;
}

.text ul,
.text ol,
.text dl {
    margin-bottom: 2rem;
}

.text ol {
    counter-reset: item;
    list-style: none;
    padding-left: 0;
}

.text ol ol {
    padding-left: 2em;
}

.text ol > li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}

.text ol > div {
    color: var(--orange);
    font-size: 1.2em;
    margin-top: 2em;
}

.text p,
.text li {
    margin: 1em 0;
}

.text dt {
    font-weight: bold;
}

.text dd {
    margin: 1em 0 2em 1em;
}

.text a {
    color: var(--orange);
    text-decoration: none;
    border-bottom: 1px solid;
}

.b-404__wrapper {
    position: relative;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
}

.b-404__inner {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10rem 0 6rem;
    margin: auto 0;
}

.b-404__header {
    flex: 0 0 50%;
    max-width: 50%;
    text-align: center;
}

.b-404__header-title {
    margin-bottom: 7.8rem;
}

.b-404__header-image {

}

.b-404__content {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    left: -2.5rem;
}

.b-404__title {
    font-weight: bold;
    font-size: 9rem;
    line-height: 11.5rem;
    margin: 0 0 3rem;
    text-transform: uppercase;
    color: var(--orange);
    word-break: break-word;
}

.b-404__text {
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 3.2rem;
}

.b-404__text a {
    color: inherit;
    text-decoration: underline;
}

.b-404__text a:hover {
    color: var(--orange);
}

.b-404__btn-wrapper {
    margin-top: 11.9rem;
}

.b-404__btn {
    text-transform: none;
}