/*
html {
    font-size: 10px !important;
}

.scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body {
    width: 1920px !important;
}

.b-404__wrapper {
    height: 949px;
}
*/
@media (max-width: 1023.98px) {
    .d-md-none {
        display: none !important;
    }

    .d-md-block {
        display: block !important;
    }

    html {
        font-size: 10px;
    }

    .container {
        padding: 0 5rem;
    }

    .btn {
        background-color: var(--orange-40);
        color: rgba(255, 255, 255, 0.9);
        text-shadow: 0 0 1rem rgba(255, 150, 77, 0.5), 0 0 2rem rgba(255, 141, 61, 0.7), 0 0 4rem #FF6900;
    }

    .btn_blue {
        background-color: var(--blue-40);
        color: rgba(255, 255, 255, 0.9);
        text-shadow: 0 0 1rem rgba(5, 180, 236, 0.5), 0 0 2rem rgba(5, 180, 236, 0.7), 0 0 4rem #05B4EC;
    }

    .btn_static {
        background-color: var(--orange);
        color: #fff;
        text-shadow: none;
    }

    .btn:before,
    .btn:after,
    .btn > span:before,
    .btn > span:after {
        opacity: 1;
    }

    ._mob-loading-fade {
        transition: 1s ease-in-out;
    }

    ._mob-loading-fade {
        opacity: 1;
        visibility: visible;
        transition-property: opacity, visibility;
    }

    html.is-loading ._mob-loading-fade {
        opacity: 0;
        visibility: hidden;
    }

    .loader__footer {
        display: none;
    }

    .loader__icon {
        bottom: auto;
        top: 7rem;
        right: 8.6rem;
    }

    .loader__icon-c {
        width: 9rem;
        height: 9rem;
        margin: -4.5rem 0 0 -4.5rem;
    }

    .loader__icon-i {
        width: 5.2rem;
        height: 5.2rem;
        margin: -0.7rem 0 0 -0.7rem;
        transform-origin: 0.6rem 0.6rem;
    }

    .loader__main {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }

    .loader__inner {
        max-width: 100%;
        position: relative;
        flex-grow: 1;
        min-height: 1px;
        flex-shrink: 0;
    }

    .loader__image {
        position: static;
        width: auto;
        max-width: 100%;
        transform: translateY(16.4rem);
    }

    .loader__image img {
        height: auto;
    }

    .loader__content {
        display: block;
        position: relative;
        padding: 4.3rem 0 3.7rem;
    }

    .loader__title {
        margin: 0;
        font-family: inherit;
        font-weight: 700;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        font-size: 9.6rem;
        line-height: 10.1rem;
        color: var(--orange);
        max-width: 4em;
    }

    .loader__title-t1 {
        display: block;
    }

    .loader__title-t2 {
        display: block;
        font-weight: 500;
        letter-spacing: 0;
        font-size: 4rem;
        line-height: 4.4rem;
        margin-top: 2rem;
    }

    .loader__text {
        position: absolute;
        right: 0;
        bottom: 3.8rem;
        color: rgba(255, 255, 255, 0.5);
    }

    .loader__text span {
        position: absolute;
        right: 0;
        bottom: 0;
        white-space: nowrap;
        opacity: 0;
        transition: .5s ease-in-out;
    }

    .loader__text span.is-active {
        opacity: 1;
    }

    .loader__loader {
        height: 0.6rem;
    }

    .cookie-alert {
        font-size: 1.8rem;
        line-height: 2.8rem;
        bottom: 3rem;
        margin-bottom: 0;
        padding: 2.5rem 4rem;
        max-width: 66.8rem;
    }

    .main__bg {
        bottom: auto;
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        min-height: 80rem;
    }

    .main__wrapper {
        position: relative;
        min-height: 80rem;
        margin-bottom: 5rem;
    }

    .main__logo {
        top: 4.6rem;
    }

    .main__logo img {
        width: 23.1rem;
        height: 3.5rem;
    }

    .main__nav {
        left: auto;
        right: 0;
        bottom: 3rem;
        margin: 0;
    }

    html.is-finish .main__nav {
        display: block;
    }

    .main__content {
        right: 0;
        top: 13.9rem;
        bottom: auto;
        width: auto;
        display: block;
        padding-bottom: 0;
        text-align: center;
    }

    .main__title {
        font-size: 11rem;
        line-height: 11.5rem;
        min-height: 0;
    }

    .main__title-t2 {
        font-size: 4.5rem;
        line-height: 5rem;
        margin-top: 2.1rem;
    }

    html.is-finish .main__content {
        color: rgba(255, 255, 255, 0.9);
    }

    html.is-finish .main__content:not(._last) {
        top: auto;
        bottom: 32.2rem;
    }

    html.is-finish .main__title-t2 {
        text-transform: none;
        max-width: 11em;
        margin: 1rem auto 0;
    }

    .main__scroll {
        display: none;
    }

    .main__start {
        left: 0;
        right: 0;
        top: 42.6rem;
        bottom: 12rem;
        width: auto;
        height: auto;
        margin: 0;
    }

    .main__start-overlay {
        display: none;
    }

    .main__start-image {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-46.4rem, 0);
    }

    .main__start-image img {
        width: 82.7rem;
        height: 41.1rem;
    }

    .main__start-btn-wrapper {
        top: auto;
        bottom: 0;
        margin-top: 0;
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .main__timer {
        display: none;
    }

    .main__start .main__timer {
        transform: translateY(3rem);
    }

    .main__copyright {
        display: none;
    }

    .main__promo {
        width: 43.2rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 12.8rem;
    }

    .main__promo-content {
        margin-top: 0rem;
    }

    .main__promo-title {
        color: var(--orange);
    }

    .main__promo-question-mark {
        margin-top: -1.9rem;
    }

    .main__intro {
        position: static;
        width: auto;
        margin-bottom: 8.2rem;
    }

    .main__intro-title {
        margin-bottom: 4rem;
        font-size: 2.2rem;
        line-height: 3.2rem;
        text-align: left;
    }

    .main__intro-play {
        width: 21.4rem;
        height: 21.4rem;
    }

    .main__intro-play:before {
        opacity: 0;
    }

    .main__intro-play:after {
        opacity: 1;
    }

    .main__results {
        position: static;
        margin: 0 0 8rem;
    }

    .main__results-title {
        margin-bottom: 2.3rem;
        font-size: 2.2rem;
        line-height: 3.2rem;
        text-align: left;
    }

    .main__results-table-wrapper {
        margin-right: 0;
        width: 100%;
    }

    .main__results-table-cell:nth-child(1) {
        width: 9.2rem;
        text-align: left;
    }

    .main__results-table-cell:nth-child(2) {
        padding-left: 0;
    }

    .main__results-table-cell:nth-child(3) {
        width: 9.2rem;
        text-align: right;
    }

    .main__results-table-row._user {
        color: var(--orange);
    }

    .conditions {
        padding-top: 0;
    }

    .conditions__title {
        font-size: 4.5rem;
        line-height: 5rem;
        margin: 0 0 3rem;
    }

    .conditions__subtitle {
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin: 0 -1rem;
    }

    .conditions__header {
        margin-bottom: 3rem;
    }

    .conditions__content {
        margin: 0 -5rem 8rem;
    }

    .prizes-slider {
        width: auto;
    }

    .prizes-slider__item {
        flex: 0 0 100%;
        max-width: 100%;
        padding-bottom: 5.1rem;
    }

    .prize {
        width: 31.8rem;
        height: 31.6rem;
    }

    .prize__title {
        top: 4.9rem;
    }

    .prize__overlay {
        margin: 0 -1.2rem -1.2rem;
    }

    .prize__image img {
        width: 24.2rem;
    }

    .prize__content {
        bottom: -5.1rem;
    }

    .prize__name {
        font-size: 2.2rem;
        line-height: 3.2rem;
    }

    .prize__count {
        top: 1.5rem;
    }

    .conditions__text {
        margin-bottom: 6rem;
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    .conditions__text-item {
        display: block;
    }

    .conditions__text-item:not(:last-child):after {
        display: none;
    }

    .conditions__footer {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .footer {
        padding: 4rem 0;
    }

    .footer__top-wrapper {
        flex-wrap: wrap;
        margin-bottom: 3.2rem;
    }

    .footer__nav {
        margin: 0 0 5.7rem;
        flex-grow: 1;
        width: 100%;
        justify-content: space-between;
        font-size: 3.5rem;
        line-height: 4.5rem;
        font-weight: 500;
    }

    .footer__nav-item {
        margin-right: 0;
    }

    .footer__phone {
        margin-left: 0;
        margin-right: auto;
    }

    .footer__social {
        margin-left: auto;
    }

    .footer__social-btn {
        margin-left: 3rem;
        width: 4.6rem;
        height: 4.6rem;
    }

    .footer__bottom-wrapper {
        flex-wrap: wrap;
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        padding-top: 3.5rem;
    }

    .footer__second-nav {
        margin: 0;
        order: 0;
        flex-grow: 1;
        width: 100%;
        justify-content: space-between;
        font-size: 1.6rem;
        line-height: 2.4rem;
        flex-wrap: wrap;
    }

    .footer__second-nav-item {
        margin: 0 0 1.8rem;
    }

    .footer__logo {
        margin-right: auto;
    }

    .footer__copyright {
        margin-right: 0;
        margin-left: auto;
    }

    .footer__logo img {
        width: 19rem;
        height: auto;
    }

    .close-btn,
    .back-btn,
    .burger-btn {
        width: 12.8rem;
    }

    .burger-btn:before {
        display: none;
    }

    .burger-btn__text {
        opacity: 1;
    }

    .video-window__close {
        top: 0;
    }

    .login-window__close {
        top: 0;
    }

    .login-window__inner {
        padding: 7rem 5rem;
    }

    .login-window__copyright {
        top: 3rem;
    }

    .burger-btn,
    .menu-window__back {
        left: auto;
        right: 0;
        top: 0.4rem;
    }

    .menu-window__back {
        transform: rotate(180deg);
    }

    .menu-window__logout,
    .page__logout {
        right: auto;
        left: 5rem;
        top: 5rem;
    }

    .menu-window__inner {
        padding: 5rem;
    }

    .menu-window__wrapper {
        padding: 5rem 0 25rem;
    }

    .menu-window__content {
        width: 100%;
        margin: auto 0;
    }

    .menu-window__user {
        right: auto;
        top: auto;
        margin-top: 0;
        left: 0;
        bottom: 0;
    }

    .menu-window__order-btn {
        right: 0;
        bottom: 0;
    }

    .menu-window__social {
        display: none;
    }

    .user {
        opacity: 1;
    }

    .user__name {
        color: var(--orange);
        font-size: 2.2rem;
        line-height: 3.2rem;
        margin-bottom: 1rem;
    }

    .question-mark-btn {
        width: 3.8rem;
        height: 3.8rem;
    }

    .user__data-question-mark {
        position: static;
        margin: 2.5rem 0 0;
    }

    .menu-window__nav {
        font-size: 7.5rem;
        line-height: 9rem;
        text-align: left;
    }

    .menu-window__nav-item {
        margin: 7rem 0;
    }

    .menu-window__nav-bg {
        display: none;
    }

    .page__inner {
        padding-top: 13.7rem;
    }

    .page__title {
        font-size: 6rem;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .page__title._lg {
        font-size: 7.5rem;
    }

    .results-table__overlay {
        display: none;
    }

    .rating-table__row {
        display: block;
    }

    .rating-table__main-group {
        max-width: none;
    }

    .rating-table__levels-group {
        flex-wrap: wrap;
        max-width: none;
        border-top: 1px solid rgba(255,255,255,.25);
        border-bottom: 1px solid rgba(255,255,255,.25);
    }

    .rating-table__row:not(.is-open) .rating-table__levels-group {
        display: none;
    }

    .rating-table__header .rating-table__levels-group {
        display: none !important;
    }

    .rating-table__body .rating-table__cell_name {
        padding-left: 0;
        text-align: center;
    }

    .rating-table__cell_place {
        flex: 0 0 21%;
        max-width: 21%;
    }

    .rating-table__cell_points {
        flex: 0 0 25.8%;
        max-width: 25.8%;
    }

    .rating-table__body .rating-table__cell_points {
        cursor: pointer;
        user-select: none;
    }

    .rating-table__body .rating-table__cell_points:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 1.4rem;
        height: .8rem;
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 8' fill='none' stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 1'/%3E%3C/svg%3E");
        background-position: 0 0;
        border-right: none;
        background-size: 100% 100;
        opacity: .5;
        margin-left: 1.5rem;
        top: -0.4rem;
    }

    .rating-table__row.is-open {
        color: #fff;
    }

    .rating-table__row.is-open .rating-table__cell_points:after {
        opacity: 1;
        transform: rotate(180deg);
    }

    .rating-table__cell_level {
        border-left: none;
        flex: 0 0 20%;
        max-width: 20%;
    }

    .rating-table__cell_prize {
        border-left: none;
        flex: 0 0 100%;
        max-width: 100%;
        order: -1;
        color: var(--orange);
        display: flex;
        justify-content: space-between;
        padding-top: 0.4rem !important;
        padding-bottom: 0.2rem !important;
    }

    .rating-table__cell_prize > span:first-child {
        display: inline;
    }

    .rating-table__cell_prize > span {
        min-width: 20%;
        text-align: center;
        padding: 0 2rem;
    }

    .rating-user-btn-wrapper {
        text-align: left;
    }

    .popup_size_lg {
        width: 62.4rem;
    }

    .popup__dec > span:nth-child(1) {
        margin: 10rem -6rem;
    }

    .popup__dec > span:nth-child(3) span:nth-child(3) {
        left: 0;
    }

    .popup__dec > span:nth-child(3) span:nth-child(4) {
        right: 0;
    }

    .popup__dec > span:nth-child(3) span:nth-child(6) {
        left: 0;
    }

    .popup__dec > span:nth-child(3) span:nth-child(7) {
        right: 0;
    }

    .popup__close-btn {
        right: -6.7rem;
        top: -8.3rem;
        width: 8rem;
    }

    .popup__content {
        padding: 6rem 3rem;
    }

    .popup__footer {
        margin: 6rem -3rem 0;
    }

    .popup__link:before {
        width: 40rem;
    }

    .popup__link:after {
        width: 25rem;
    }

    .game-interface__left {
        display: none;
    }

    .game-interface__right {
        display: none;
    }

    .game-interface__top {
        top: 6.2rem;
        left: 0;
        right: 0;
        transform: translateX(0);
        width: auto;
        height: 4.2rem;
        max-height: none;
        background-image: url(../images/interface-top-tablet.svg);
    }

    .game-interface__bottom {
        bottom: 3.4rem;
        width: 92.8rem;
        height: 9.4rem;
        max-height: none;
    }

    .game-copyright {
        display: none;
    }

    .mission__icon {
        display: none;
    }

    .game-score {
        right: auto;
        left: 50%;
        margin-left: -16.6rem;
        top: 0;
        width: 33.1rem;
        height: 15.1rem;
        font-size: 1.6rem;
        line-height: 2rem;
        background-image: url('../images/game-score-tablet.svg');
    }

    .game-score__title,
    .game-score__points,
    .game-score__username {
        top: 37%;
    }

    .game-score__title {
        left: 2%;
    }

    .game-score__username {
        left: 52%;
    }

    .game-score__points {
        left: 17%;
        width: 25.5%;
        margin-top: -.9rem;
        font-size: 3.5rem;
    }

    .game-burger {
        top: 10.2rem;
    }

    .game-timer {
        font-size: 3.5rem;
        line-height: 4.5rem;
        color: rgba(255, 255, 255, 0.9);
        left: 4rem;
        margin-left: 0;
        width: auto;
        text-align: left;
        top: 13.8rem;
    }

    .mission__start {
        padding: 22.9rem 2rem 18.2rem;
    }

    .mission__start-content {
        text-align: center;
        width: 100%;
        max-width: 118rem;
        min-height: 53.2rem;
        position: relative;
    }

    .mission__num {
        font-size: 3.5rem;
        line-height: 4.5rem;
    }

    .mission__title-bg {
        height: 10.2rem;
    }

    .mission__title-bg:before {
        left: 10rem;
        width: 9rem;
    }

    .mission__title-bg > span:before {
        right: -0.8rem;
    }

    .mission__title-bg > span:after {
        right: 7rem;
    }

    .mission__title-bg:after {
        left: -6rem;
    }

    .mission__title {
        margin-bottom: 3rem;
    }

    .mission-1 .mission__title {
        margin-bottom: 5.4rem;
    }

    .mission-1 .mission__text {
        max-width: 23em;
    }

    .mission-3 .mission__text {
        max-width: 23em;
    }

    .mission-4 .mission__text {
        max-width: 19em;
    }

    .mission-5 .mission__text {
        max-width: 23em;
    }

    .mission-1__start-coffee {
        margin-top: -0.3rem;
    }

    .mission__play-btn {
        transform: scale(1.4);
        margin-top: 8.3rem;
    }

    .mission__play-btn:before {
        opacity: 0;
    }

    .mission__play-btn:after {
        opacity: 1;
    }

    .mission__input-wrapper._form {
        margin: 0;
    }

    .mission__input-wrapper._form .mission__input {
        display: block;
        background: none;
        border: none;
        border-radius: 0;
        padding: 0;
    }

    .mission__input-wrapper._form .mission__input-control-wrapper {
        min-width: 27.2rem;
        padding-right: 0;
        margin-bottom: 6rem;
    }

    .mission__input-wrapper._form .mission__input-control {
        width: 27.2rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
        border-radius: 0;
        font-weight: 500;
        height: auto;
        font-size: 3.5rem;
        line-height: 4.5rem;
        padding: .8rem 0;
        position: relative;
        z-index: 2;
    }

    .mission__input-wrapper._form .mission__input-control::placeholder {
        font-size: 2.2rem;
    }

    .mission__final-steps {
        border-top: none;
        margin: 5.6rem auto 7.5rem;
        display: block;
        max-width: 19.5em;
    }

    .mission__final-steps-item {
        max-width: none;
        margin: 0 auto 2.5rem;
        padding-top: 2.5rem;
    }

    .mission__final-steps-item:before {
        content: '';
        position: absolute;
        left: 50%;
        top: -2rem;
        height: 4rem;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
    }

    .mission__final-steps-item:first-child:before {
        height: 2rem;
        top: 0;
    }

    .mission-5__promo-section {
        margin-bottom: 0;
    }

    .mission-5__next-btn-wrapper {
        display: none;
    }

    .mission-5__promo-wrapper,
    .mission-5__form-wrapper {
        display: block !important;
    }

    .mission-5__form-wrapper {
        margin-top: 8.5rem;
    }

    .game-map__header {
        top: 22.8rem;
    }

    .game-map__markers {
        margin: 50.8rem 4rem 13rem;
    }

    .game-map__marker_dodo {
        left: 12.4%;
        top: 0;
    }

    .game-map__marker_location-1 {
        left: auto;
        right: 6.4%;
        top: 34.3%;
    }

    .game-map__marker_location-2 {
        left: 24.5%;
        top: 67.5%;
    }

    .game-map__marker-icon {
        transform: scale(0.65) !important;
    }

    .game-map__marker-icon > span {
        opacity: 1;
    }

    .game-map__marker-title {
        left: 4.6rem;
        top: -3rem;
        pointer-events: auto;
    }

    .game-map__marker_location-1 .game-map__marker-title {
        left: auto;
        right: 2.6rem;
        top: -1rem;
    }

    .game-map__marker_location-2 .game-map__marker-title {
        left: 2rem;
        top: -.4rem;
    }

    .game-map__marker-title > span {
        opacity: 1;
        visibility: unset !important;
        transform: translateX(0);
    }

    .game-location__markers {
        margin: 26rem 4rem 16rem;
    }

    .game-location__scale {
        bottom: 8.6rem;
    }

    .game-location__scale-item {
        width: 2.2rem;
        height: 2.7rem;
        margin: 0 .1rem;
    }

    .game-location__bg {
        background-position: 34% center;
    }

    .game-help_score .game-help__content {
        right: 0;
        left: 0;
        margin: 0 auto;
        top: 17rem;
    }

    .game-help_timer .game-help__content {
        right: auto;
        top: 21rem;
    }

    .game-help_scale .game-help__content {
        bottom: 16rem;
    }

    .game-help__icons {
        margin-bottom: 2.5rem;
    }

    .game-help_start .game-help__content {
        max-width: 16em;
        height: 28.4rem;
    }

    .game-lives {
        left: 31rem;
        top: 21.9rem;
        width: 7.4rem;
        height: 4rem;
        border-radius: 1rem;
        background: var(--blue);
        font-size: 2.2rem;
        line-height: 4rem;
        text-align: center;
    }

    .game-lives__text {
        position: static;
    }

    .game-help_lives .game-help__content {
        left: 11.2rem;
        top: 28.6rem;
    }

    .game-test__content {
        padding: 21.9rem 5.1rem 16.3rem;
        display: block;
    }

    .game-test__item {
        margin: 0;
    }

    .game-test__item-inner {
        display: block;
        position: relative;
    }

    .game-test__item-image {
        position: absolute;
        left: -7.5rem;
        top: 0;
        width: 40.5rem;
        height: 41.7rem;
        padding: 1.8rem 1.5rem 0 0.9rem;
    }

    .game-test__item-content {
        padding: 0;
    }

    .game-test__item-header {
        min-height: 41.7rem;
        padding-left: 35rem;
        padding-bottom: 5.1rem;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .game-test__item-num:before {
        display: none;
    }

    .game-test__item-num {
        padding: 0;
        color: rgba(255, 255, 255, 0.5);
        font-size: 2.2rem;
        line-height: 3.2rem;
        margin-bottom: 1.5rem;
    }

    .game-test__item-question {
        margin-bottom: 0;
    }

    .game-test__item-answers {
        border: 1px solid rgba(255, 255, 255, 0.25);
    }

    .game-test__item-answer {
        font-size: inherit !important;
        margin: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    }

    .game-test__item-answer:last-child {
        border-bottom: none;
    }

    .game-test__item-answer.is-selected {
        font-size: inherit;
        background: linear-gradient(99.63deg, rgba(0, 193, 255, 0.3) 48.57%, rgba(0, 193, 255, 0) 96.46%);
    }

    .game-test__item-answer-overlay {
        display: none;
    }

    .game-test__item-answer-inner {
        display: flex;
        padding: .8rem 4rem;
        align-items: center;
        min-height: 10.1rem;
    }

    .game-test__item-answer-content {
        width: 100%;
    }

    .mission-3 .mission__start {
        padding: 22.9rem 2rem 18.2rem;
    }

    .mission-3 .mission__start-content {
        min-height: 60.9rem;
    }

    .mission-3 .mission__text {
        max-width: 25em;
    }

    .mission-4 .game-lives {
        left: 3.3rem;
        top: 14rem;
    }

    .game-speed__circle {
        bottom: -23.6rem;
        margin-left: -38.5rem;
    }

    .pagination {
        justify-content: flex-end;
    }

    .text {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    .text ol ol {
        padding-left: 1.5em;
    }

    .b-404__inner {
        display: block;
        padding: 12rem 0 4rem;
        text-align: center;
    }

    .b-404__header {
        max-width: none;
    }

    .b-404__header-title {
        margin: 0 -2rem 3.9rem;
    }

    .b-404__header-image {
        display: none;
    }

    .b-404__content {
        max-width: none;
        position: static;
    }

    .b-404__title {
        font-size: 7.5rem;
        line-height: 9rem;
    }

    .b-404__btn-wrapper {
        margin-top: 10rem;
    }

    .b-404__btn {
        text-transform: uppercase;
    }
}

@media (max-width: 1023.98px) and (min-width: 768px) {
    .prizes-slider .slick-slide:not(.slick-center) .prize__image {
        opacity: .4;
    }

    .prizes-slider .slick-slide:not(.slick-center) .prize._hoodie .prize__image {
        opacity: .6;
    }

    .prizes-slider .slick-center .prize__image {
        animation: prize-image 2.5s ease-in-out infinite;
    }

    .prizes-slider .slick-center .prize__overlay {
        height: 100%;
        opacity: 1;
        visibility: visible;
    }

    .prizes-slider .slick-center .prize__content {
        opacity: 1;
        transform: translateY(0);
    }
}